In [289]:
import pandas as pd

In [290]:
kospi_1 = pd.read_csv("./거시경제변수데이터/1분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_1_ = pd.read_csv("./거시경제변수데이터/1분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_3 = pd.read_csv("./거시경제변수데이터/3분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_3_ = pd.read_csv("./거시경제변수데이터/3분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2i = pd.read_csv("./거시경제변수데이터/반기 연결 ifrs.csv", encoding = "euc-kr")
kospi_2i_ = pd.read_csv("./거시경제변수데이터/반기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2g = pd.read_csv("./거시경제변수데이터/반기 연결 gaap.csv", encoding = "euc-kr")
kospi_2g_ = pd.read_csv("./거시경제변수데이터/반기 개별 gaap.csv", encoding = "euc-kr")
kospi_4i = pd.read_csv("./거시경제변수데이터/사업 연결 ifrs.csv", encoding = "euc-kr")
kospi_4i_ = pd.read_csv("./거시경제변수데이터/사업 개별 ifrs.csv", encoding = "euc-kr")
kospi_4g = pd.read_csv("./거시경제변수데이터/사업 연결 GAAP.csv", encoding = "euc-kr")
kospi_4g_ = pd.read_csv("./거시경제변수데이터/사업 개별 gaap.csv", encoding = "euc-kr")

In [291]:
kospi_2i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']

In [292]:
kospi_1.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_1_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_3.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_3_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']

In [293]:
kospi2i = kospi_2i.fillna(kospi_2i_)
kospi2g = kospi_2g.fillna(kospi_2g_)
kospi4i = kospi_4i.fillna(kospi_4i_)
kospi4g = kospi_4g.fillna(kospi_4g_)
kospi2 = kospi_2i.fillna(kospi_2g)
kospi4 = kospi_4i.fillna(kospi_4g)

In [294]:
kospi2i.isnull().sum()

회사명        0
거래소코드      0
회계년도       0
당기순이익    426
영업손익     426
매출액      426
dtype: int64

In [295]:
kospi2.isnull().sum()

회사명         0
거래소코드       0
회계년도        0
당기순이익    1042
영업손익     1042
매출액      1042
dtype: int64

In [296]:
kospi1 = kospi_1.fillna(kospi_1_)
kospi3 = kospi_3.fillna(kospi_3_)

In [297]:
kospi1

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액(수익),자본,(정상)영업손익
0,(주)BNK금융지주,138930,2011/03,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/03,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/03,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/03,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2628,효성첨단소재(주),298050,2022/03,70792812.0,0.0,2.299693e+09,1.003317e+09,7.014988e+08,101649692.0
2629,효성티앤씨(주),298020,2019/03,31640199.0,0.0,2.760249e+09,1.410360e+09,5.172060e+08,54719110.0
2630,효성티앤씨(주),298020,2020/03,26286643.0,0.0,2.683382e+09,1.387682e+09,6.020744e+08,78499133.0
2631,효성티앤씨(주),298020,2021/03,180114270.0,0.0,2.302708e+09,1.618201e+09,8.869733e+08,246796651.0
2632,효성티앤씨(주),298020,2022/03,105372231.0,0.0,3.395294e+09,2.340843e+09,1.616927e+09,190141271.0

In [298]:
kospi1['부채비율'] = kospi1['부채'] / kospi1['자본'] * 100
kospi1['매출액정상영업이익률'] = (kospi1['(정상)영업손익'] /kospi1['매출액(수익)']) * 100

In [299]:
kospi1.isna().sum()

회사명             0
거래소코드           0
회계년도            0
당기순이익         306
주당순손익         306
부채            306
매출액(수익)       306
자본            306
(정상)영업손익      306
부채비율          306
매출액정상영업이익률    306
dtype: int64