In [81]:
import pandas as pd

In [82]:
kospi_1 = pd.read_csv("./거시경제변수데이터/1분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_1_ = pd.read_csv("./거시경제변수데이터/1분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_3 = pd.read_csv("./거시경제변수데이터/3분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_3_ = pd.read_csv("./거시경제변수데이터/3분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2i = pd.read_csv("./거시경제변수데이터/반기 연결 ifrs.csv", encoding = "euc-kr")
kospi_2i_ = pd.read_csv("./거시경제변수데이터/반기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2g = pd.read_csv("./거시경제변수데이터/반기 연결 gaap.csv", encoding = "euc-kr")
kospi_2g_ = pd.read_csv("./거시경제변수데이터/반기 개별 gaap.csv", encoding = "euc-kr")
kospi_4i = pd.read_csv("./거시경제변수데이터/사업 연결 ifrs.csv", encoding = "euc-kr")
kospi_4i_ = pd.read_csv("./거시경제변수데이터/사업 개별 ifrs.csv", encoding = "euc-kr")
kospi_4g = pd.read_csv("./거시경제변수데이터/사업 연결 GAAP.csv", encoding = "euc-kr")
kospi_4g_ = pd.read_csv("./거시경제변수데이터/사업 개별 gaap.csv", encoding = "euc-kr")

In [83]:
kospi_2i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']

In [84]:
kospi_1.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_1_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_3.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']
kospi_3_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액(수익)', '자본', '(정상)영업손익']

In [85]:
kospi2i = kospi_2i.fillna(kospi_2i_)
kospi2g = kospi_2g.fillna(kospi_2g_)
kospi4i = kospi_4i.fillna(kospi_4i_)
kospi4g = kospi_4g.fillna(kospi_4g_)
kospi2 = kospi2i.fillna(kospi2g)
kospi4 = kospi4i.fillna(kospi4g)

In [86]:
kospi2['회계년도'] = kospi2['회계년도'].str.replace('/06', '')
kospi4['회계년도'] = kospi4['회계년도'].str.replace('/12', '')

In [87]:
kospi2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2767    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2768    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2769    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2770    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2771    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2772 rows x 6 columns]

In [88]:
kospi4

             회사명   거래소코드  회계년도         당기순이익          영업손익           매출액
0     (주)BNK금융지주  138930  2011           NaN           NaN           NaN
1     (주)BNK금융지주  138930  2012           NaN           NaN           NaN
2     (주)BNK금융지주  138930  2013           NaN           NaN           NaN
3     (주)BNK금융지주  138930  2014           NaN           NaN           NaN
4     (주)BNK금융지주  138930  2015           NaN           NaN           NaN
...          ...     ...   ...           ...           ...           ...
2973    효성티앤씨(주)  298020  2018  3.149830e+07  1.250522e+08  3.359086e+09
2974    효성티앤씨(주)  298020  2019  1.220229e+08  3.229135e+08  5.983145e+09
2975    효성티앤씨(주)  298020  2020  1.682721e+08  2.665596e+08  5.161617e+09
2976    효성티앤씨(주)  298020  2021  1.007903e+09  1.423651e+09  8.596030e+09
2977    효성티앤씨(주)  298020  2022  1.918325e+07  1.235935e+08  8.882730e+09

[2978 rows x 6 columns]

In [89]:
kospi4

             회사명   거래소코드  회계년도         당기순이익          영업손익           매출액
0     (주)BNK금융지주  138930  2011           NaN           NaN           NaN
1     (주)BNK금융지주  138930  2012           NaN           NaN           NaN
2     (주)BNK금융지주  138930  2013           NaN           NaN           NaN
3     (주)BNK금융지주  138930  2014           NaN           NaN           NaN
4     (주)BNK금융지주  138930  2015           NaN           NaN           NaN
...          ...     ...   ...           ...           ...           ...
2973    효성티앤씨(주)  298020  2018  3.149830e+07  1.250522e+08  3.359086e+09
2974    효성티앤씨(주)  298020  2019  1.220229e+08  3.229135e+08  5.983145e+09
2975    효성티앤씨(주)  298020  2020  1.682721e+08  2.665596e+08  5.161617e+09
2976    효성티앤씨(주)  298020  2021  1.007903e+09  1.423651e+09  8.596030e+09
2977    효성티앤씨(주)  298020  2022  1.918325e+07  1.235935e+08  8.882730e+09

[2978 rows x 6 columns]

In [90]:
kospi1 = kospi_1.fillna(kospi_1_)
kospi3 = kospi_3.fillna(kospi_3_)

In [91]:
kospi1

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액(수익),자본,(정상)영업손익
0,(주)BNK금융지주,138930,2011/03,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/03,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/03,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/03,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2628,효성첨단소재(주),298050,2022/03,70792812.0,0.0,2.299693e+09,1.003317e+09,7.014988e+08,101649692.0
2629,효성티앤씨(주),298020,2019/03,31640199.0,0.0,2.760249e+09,1.410360e+09,5.172060e+08,54719110.0
2630,효성티앤씨(주),298020,2020/03,26286643.0,0.0,2.683382e+09,1.387682e+09,6.020744e+08,78499133.0
2631,효성티앤씨(주),298020,2021/03,180114270.0,0.0,2.302708e+09,1.618201e+09,8.869733e+08,246796651.0
2632,효성티앤씨(주),298020,2022/03,105372231.0,0.0,3.395294e+09,2.340843e+09,1.616927e+09,190141271.0

In [92]:
kospi1['부채비율'] = kospi1['부채'] / kospi1['자본'] * 100
kospi1['매출액정상영업이익률'] = (kospi1['(정상)영업손익'] /kospi1['매출액(수익)']) * 100
kospi3['부채비율'] = kospi3['부채'] / kospi3['자본'] * 100
kospi3['매출액정상영업이익률'] = (kospi3['(정상)영업손익'] /kospi3['매출액(수익)']) * 100

In [93]:
kospi1.isna().sum()

회사명             0
거래소코드           0
회계년도            0
당기순이익         306
주당순손익         306
부채            306
매출액(수익)       306
자본            306
(정상)영업손익      306
부채비율          306
매출액정상영업이익률    306
dtype: int64

In [94]:
kospi3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액(수익),자본,(정상)영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2641,효성티앤씨(주),298020,2018/09,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2642,효성티앤씨(주),298020,2019/09,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2643,효성티앤씨(주),298020,2020/09,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2644,효성티앤씨(주),298020,2021/09,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2645,효성티앤씨(주),298020,2022/09,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [95]:
kospi1.to_csv('kospi1.csv', encoding='utf-8-sig')
kospi2.to_csv('kospi2.csv', encoding='utf-8-sig')
kospi3.to_csv('kospi3.csv', encoding='utf-8-sig')
kospi4.to_csv('kospi4.csv', encoding='utf-8-sig')