In [208]:
import pandas as pd

In [278]:
kospi_1 = pd.read_csv("./거시경제변수데이터/1분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_1_ = pd.read_csv("./거시경제변수데이터/1분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_3 = pd.read_csv("./거시경제변수데이터/3분기 연결 ifrs.csv", encoding = "euc-kr")
kospi_3_ = pd.read_csv("./거시경제변수데이터/3분기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2i = pd.read_csv("./거시경제변수데이터/반기 연결 ifrs.csv", encoding = "euc-kr")
kospi_2i_ = pd.read_csv("./거시경제변수데이터/반기 개별 ifrs.csv", encoding = "euc-kr")
kospi_2g = pd.read_csv("./거시경제변수데이터/반기 연결 gaap.csv", encoding = "euc-kr")
kospi_2g_ = pd.read_csv("./거시경제변수데이터/반기 개별 gaap.csv", encoding = "euc-kr")
kospi_4i = pd.read_csv("./거시경제변수데이터/사업 연결 ifrs.csv", encoding = "euc-kr")
kospi_4i_ = pd.read_csv("./거시경제변수데이터/사업 개별 ifrs.csv", encoding = "euc-kr")
kospi_4g = pd.read_csv("./거시경제변수데이터/사업 연결 GAAP.csv", encoding = "euc-kr")
kospi_4g_ = pd.read_csv("./거시경제변수데이터/사업 개별 gaap.csv", encoding = "euc-kr")

In [279]:
kospi_2i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_2g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4i_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']
kospi_4g_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']

In [280]:
kospi_1.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액', '자본', '영업손익']
kospi_1_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액', '자본', '영업손익']
kospi_3.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액', '자본', '영업손익']
kospi_3_.columns = ['회사명', '거래소코드', '회계년도', '당기순이익', '주당순손익', '부채', '매출액', '자본', '영업손익']

In [258]:
kospi2i = kospi_2i.fillna(kospi_2i_)
kospi2g = kospi_2g.fillna(kospi_2g_)
kospi4i = kospi_4i.fillna(kospi_4i_)
kospi4g = kospi_4g.fillna(kospi_4g_)
kospi2 = kospi2i.fillna(kospi2g)
kospi4 = kospi4i.fillna(kospi4g)

In [259]:
kospi2['회계년도'] = kospi2['회계년도'].str.replace('/06', '')
kospi4['회계년도'] = kospi4['회계년도'].str.replace('/12', '')

In [214]:
kospi2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2767    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2768    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2769    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2770    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2771    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2772 rows x 6 columns]

In [215]:
kospi4

             회사명   거래소코드  회계년도         당기순이익          영업손익           매출액
0     (주)BNK금융지주  138930  2011           NaN           NaN           NaN
1     (주)BNK금융지주  138930  2012           NaN           NaN           NaN
2     (주)BNK금융지주  138930  2013           NaN           NaN           NaN
3     (주)BNK금융지주  138930  2014           NaN           NaN           NaN
4     (주)BNK금융지주  138930  2015           NaN           NaN           NaN
...          ...     ...   ...           ...           ...           ...
2973    효성티앤씨(주)  298020  2018  3.149830e+07  1.250522e+08  3.359086e+09
2974    효성티앤씨(주)  298020  2019  1.220229e+08  3.229135e+08  5.983145e+09
2975    효성티앤씨(주)  298020  2020  1.682721e+08  2.665596e+08  5.161617e+09
2976    효성티앤씨(주)  298020  2021  1.007903e+09  1.423651e+09  8.596030e+09
2977    효성티앤씨(주)  298020  2022  1.918325e+07  1.235935e+08  8.882730e+09

[2978 rows x 6 columns]

In [111]:
kospi4

             회사명   거래소코드  회계년도         당기순이익          영업손익           매출액
0     (주)BNK금융지주  138930  2011           NaN           NaN           NaN
1     (주)BNK금융지주  138930  2012           NaN           NaN           NaN
2     (주)BNK금융지주  138930  2013           NaN           NaN           NaN
3     (주)BNK금융지주  138930  2014           NaN           NaN           NaN
4     (주)BNK금융지주  138930  2015           NaN           NaN           NaN
...          ...     ...   ...           ...           ...           ...
2973    효성티앤씨(주)  298020  2018  3.149830e+07  1.250522e+08  3.359086e+09
2974    효성티앤씨(주)  298020  2019  1.220229e+08  3.229135e+08  5.983145e+09
2975    효성티앤씨(주)  298020  2020  1.682721e+08  2.665596e+08  5.161617e+09
2976    효성티앤씨(주)  298020  2021  1.007903e+09  1.423651e+09  8.596030e+09
2977    효성티앤씨(주)  298020  2022  1.918325e+07  1.235935e+08  8.882730e+09

[2978 rows x 6 columns]

In [281]:
kospi1 = kospi_1.fillna(kospi_1_)
kospi3 = kospi_3.fillna(kospi_3_)

In [113]:
kospi1

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익
0,(주)BNK금융지주,138930,2011/03,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/03,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/03,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/03,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2628,효성첨단소재(주),298050,2022/03,70792812.0,0.0,2.299693e+09,1.003317e+09,7.014988e+08,101649692.0
2629,효성티앤씨(주),298020,2019/03,31640199.0,0.0,2.760249e+09,1.410360e+09,5.172060e+08,54719110.0
2630,효성티앤씨(주),298020,2020/03,26286643.0,0.0,2.683382e+09,1.387682e+09,6.020744e+08,78499133.0
2631,효성티앤씨(주),298020,2021/03,180114270.0,0.0,2.302708e+09,1.618201e+09,8.869733e+08,246796651.0
2632,효성티앤씨(주),298020,2022/03,105372231.0,0.0,3.395294e+09,2.340843e+09,1.616927e+09,190141271.0

In [282]:
kospi1['부채비율'] = kospi1['부채'] / kospi1['자본'] * 100
kospi1['매출액정상영업이익률'] = (kospi1['영업손익'] /kospi1['매출액']) * 100
kospi3['부채비율'] = kospi3['부채'] / kospi3['자본'] * 100
kospi3['매출액정상영업이익률'] = (kospi3['영업손익'] /kospi3['매출액']) * 100

In [115]:
kospi1.isna().sum()

회사명             0
거래소코드           0
회계년도            0
당기순이익         306
주당순손익         306
부채            306
매출액           306
자본            306
영업손익          306
부채비율          306
매출액정상영업이익률    306
dtype: int64

In [283]:
kospi1['회계년도'] = kospi1['회계년도'].str.replace('/03', '')
kospi3['회계년도'] = kospi3['회계년도'].str.replace('/09', '')

In [117]:
# kospi1.to_csv('kospi1.csv', encoding='utf-8-sig')
# kospi2.to_csv('kospi2.csv', encoding='utf-8-sig')
# kospi3.to_csv('kospi3.csv', encoding='utf-8-sig')
# kospi4.to_csv('kospi4.csv', encoding='utf-8-sig')

In [118]:
kospi1

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2628,효성첨단소재(주),298050,2022,70792812.0,0.0,2.299693e+09,1.003317e+09,7.014988e+08,101649692.0,327.825675,10.131358
2629,효성티앤씨(주),298020,2019,31640199.0,0.0,2.760249e+09,1.410360e+09,5.172060e+08,54719110.0,533.684655,3.879797
2630,효성티앤씨(주),298020,2020,26286643.0,0.0,2.683382e+09,1.387682e+09,6.020744e+08,78499133.0,445.689326,5.656853
2631,효성티앤씨(주),298020,2021,180114270.0,0.0,2.302708e+09,1.618201e+09,8.869733e+08,246796651.0,259.614113,15.251293
2632,효성티앤씨(주),298020,2022,105372231.0,0.0,3.395294e+09,2.340843e+09,1.616927e+09,190141271.0,209.984343,8.122769

In [119]:
kospi2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2767    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2768    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2769    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2770    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2771    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2772 rows x 6 columns]

In [120]:
kospi1_ = kospi1[['회사명', '거래소코드', '회계년도', '당기순이익', '영업손익', '매출액']]

In [121]:
kospi1_

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2628   효성첨단소재(주)  298050  2022   70792812.0  101649692.0  1.003317e+09
2629    효성티앤씨(주)  298020  2019   31640199.0   54719110.0  1.410360e+09
2630    효성티앤씨(주)  298020  2020   26286643.0   78499133.0  1.387682e+09
2631    효성티앤씨(주)  298020  2021  180114270.0  246796651.0  1.618201e+09
2632    효성티앤씨(주)  298020  2022  105372231.0  190141271.0  2.340843e+09

[2633 rows x 6 columns]

In [122]:
kospi2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2767    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2768    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2769    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2770    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2771    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2772 rows x 6 columns]

In [263]:
kospi3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2641,효성티앤씨(주),298020,2018,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2642,효성티앤씨(주),298020,2019,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2643,효성티앤씨(주),298020,2020,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2644,효성티앤씨(주),298020,2021,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2645,효성티앤씨(주),298020,2022,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [284]:
kospi3.to_csv('kospi3.csv', encoding='utf-8-sig')

In [124]:
result_1 = pd.DataFrame(columns=kospi1_.columns)  # 빈 데이터프레임 생성
result_2 = pd.DataFrame(columns=kospi2.columns)  # 빈 데이터프레임 생성

for i in range(len(kospi1_)):
    for j in range(len(kospi2)):
        if (kospi1_.loc[i, '회사명'] == kospi2.loc[j, '회사명'] and
            kospi1_.loc[i, '거래소코드'] == kospi2.loc[j, '거래소코드'] and
            kospi1_.loc[i, '회계년도'] == kospi2.loc[j, '회계년도']):
            result_1 = pd.concat([result_1, kospi1_.loc[[i]]], ignore_index=True)
            result_2 = pd.concat([result_2, kospi2.loc[[j]]], ignore_index=True)
            break

In [125]:
result_1

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2517   효성첨단소재(주)  298050  2022   70792812.0  101649692.0  1.003317e+09
2518    효성티앤씨(주)  298020  2019   31640199.0   54719110.0  1.410360e+09
2519    효성티앤씨(주)  298020  2020   26286643.0   78499133.0  1.387682e+09
2520    효성티앤씨(주)  298020  2021  180114270.0  246796651.0  1.618201e+09
2521    효성티앤씨(주)  298020  2022  105372231.0  190141271.0  2.340843e+09

[2522 rows x 6 columns]

In [126]:
result_2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2517   효성첨단소재(주)  298050  2022  128700465.0  199219713.0  2.028165e+09
2518    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2519    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2520    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2521    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2522 rows x 6 columns]

In [127]:
result_2['당기순이익'] = result_2['당기순이익'].fillna(0).astype(int)
result_1['당기순이익'] = result_1['당기순이익'].fillna(0).astype(int)
result_2['영업손익'] = result_2['영업손익'].fillna(0).astype(int)
result_1['영업손익'] = result_1['영업손익'].fillna(0).astype(int)
result_2['매출액'] = result_2['매출액'].fillna(0).astype(int)
result_1['매출액'] = result_1['매출액'].fillna(0).astype(int)

In [128]:
result_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522 entries, 0 to 2521
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     2522 non-null   object
 1   거래소코드   2522 non-null   object
 2   회계년도    2522 non-null   object
 3   당기순이익   2522 non-null   int64
 4   영업손익    2522 non-null   int64
 5   매출액     2522 non-null   int64
dtypes: int64(3), object(3)
memory usage: 118.3+ KB

In [129]:
result_1

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2517   효성첨단소재(주)  298050  2022   70792812  101649692  1003317497
2518    효성티앤씨(주)  298020  2019   31640199   54719110  1410360158
2519    효성티앤씨(주)  298020  2020   26286643   78499133  1387681972
2520    효성티앤씨(주)  298020  2021  180114270  246796651  1618201454
2521    효성티앤씨(주)  298020  2022  105372231  190141271  2340843018

[2522 rows x 6 columns]

In [132]:
result_2

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2517   효성첨단소재(주)  298050  2022  128700465  199219713  2028165265
2518    효성티앤씨(주)  298020  2019   80982889  147099256  2941667780
2519    효성티앤씨(주)  298020  2020    6753349   70298605  2393601226
2520    효성티앤씨(주)  298020  2021  479676114  633863577  3760226714
2521    효성티앤씨(주)  298020  2022  148235204  277589735  4904572445

[2522 rows x 6 columns]

In [133]:
result2 = result_2[['당기순이익', '영업손익', '매출액']] - result_1[['당기순이익', '영업손익', '매출액']]

In [134]:
result2

          당기순이익       영업손익         매출액
0             0          0           0
1             0          0           0
2             0          0           0
3             0          0           0
4             0          0           0
...         ...        ...         ...
2517   57907653   97570021  1024847768
2518   49342690   92380146  1531307622
2519  -19533294   -8200528  1005919254
2520  299561844  387066926  2142025260
2521   42862973   87448464  2563729427

[2522 rows x 3 columns]

In [135]:
result2 = pd.concat([result_2[['회사명', '거래소코드', '회계년도']], result2], axis=1)

In [136]:
result2

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2517   효성첨단소재(주)  298050  2022   57907653   97570021  1024847768
2518    효성티앤씨(주)  298020  2019   49342690   92380146  1531307622
2519    효성티앤씨(주)  298020  2020  -19533294   -8200528  1005919254
2520    효성티앤씨(주)  298020  2021  299561844  387066926  2142025260
2521    효성티앤씨(주)  298020  2022   42862973   87448464  2563729427

[2522 rows x 6 columns]

In [140]:
result1 = result_1

In [138]:
# result_1.to_csv('result1.csv', encoding='utf-8-sig')
# result2.to_csv('result2.csv', encoding='utf-8-sig')

In [146]:
result_2 = pd.DataFrame(columns=kospi2.columns)  # 빈 데이터프레임 생성
result_3 = pd.DataFrame(columns=kospi3.columns)  # 빈 데이터프레임 생성

for i in range(len(kospi2)):
    for j in range(len(kospi3)):
        if (kospi2.loc[i, '회사명'] == kospi3.loc[j, '회사명'] and
            kospi2.loc[i, '거래소코드'] == kospi3.loc[j, '거래소코드'] and
            kospi2.loc[i, '회계년도'] == kospi3.loc[j, '회계년도']):
            result_2 = pd.concat([result_2, kospi2.loc[[i]]], ignore_index=True)
            result_3 = pd.concat([result_3, kospi3.loc[[j]]], ignore_index=True)
            break

In [151]:
kospi2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2767    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2768    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2769    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2770    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2771    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2772 rows x 6 columns]

In [152]:
kospi3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2641,효성티앤씨(주),298020,2018,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2642,효성티앤씨(주),298020,2019,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2643,효성티앤씨(주),298020,2020,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2644,효성티앤씨(주),298020,2021,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2645,효성티앤씨(주),298020,2022,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [147]:
result_2

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2531    효성티앤씨(주)  298020  2018    1978662.0   22582655.0  4.666842e+08
2532    효성티앤씨(주)  298020  2019   80982889.0  147099256.0  2.941668e+09
2533    효성티앤씨(주)  298020  2020    6753349.0   70298605.0  2.393601e+09
2534    효성티앤씨(주)  298020  2021  479676114.0  633863577.0  3.760227e+09
2535    효성티앤씨(주)  298020  2022  148235204.0  277589735.0  4.904572e+09

[2536 rows x 6 columns]

In [148]:
result_3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2531,효성티앤씨(주),298020,2018,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2532,효성티앤씨(주),298020,2019,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2533,효성티앤씨(주),298020,2020,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2534,효성티앤씨(주),298020,2021,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2535,효성티앤씨(주),298020,2022,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [149]:
result3 = result_3[['당기순이익', '영업손익', '매출액']] - result_2[['당기순이익', '영업손익', '매출액']]

In [150]:
result3

            당기순이익         영업손익           매출액
0             NaN          NaN           NaN
1             NaN          NaN           NaN
2             NaN          NaN           NaN
3             NaN          NaN           NaN
4             NaN          NaN           NaN
...           ...          ...           ...
2531   21153737.0   61097006.0  1.505390e+09
2532   -1049472.0   92199326.0  1.570883e+09
2533   50701876.0   66159142.0  1.301788e+09
2534  310656361.0  433906774.0  2.388183e+09
2535 -122094327.0 -110786906.0  2.167104e+09

[2536 rows x 3 columns]

In [153]:
result3 = pd.concat([result_3[['회사명', '거래소코드', '회계년도']], result3], axis=1)

In [154]:
result3

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2531    효성티앤씨(주)  298020  2018   21153737.0   61097006.0  1.505390e+09
2532    효성티앤씨(주)  298020  2019   -1049472.0   92199326.0  1.570883e+09
2533    효성티앤씨(주)  298020  2020   50701876.0   66159142.0  1.301788e+09
2534    효성티앤씨(주)  298020  2021  310656361.0  433906774.0  2.388183e+09
2535    효성티앤씨(주)  298020  2022 -122094327.0 -110786906.0  2.167104e+09

[2536 rows x 6 columns]

In [155]:
result_3 = pd.DataFrame(columns=kospi3.columns)  # 빈 데이터프레임 생성
result_4 = pd.DataFrame(columns=kospi4.columns)  # 빈 데이터프레임 생성

for i in range(len(kospi3)):
    for j in range(len(kospi4)):
        if (kospi3.loc[i, '회사명'] == kospi4.loc[j, '회사명'] and
            kospi3.loc[i, '거래소코드'] == kospi4.loc[j, '거래소코드'] and
            kospi3.loc[i, '회계년도'] == kospi4.loc[j, '회계년도']):
            result_3 = pd.concat([result_3, kospi3.loc[[i]]], ignore_index=True)
            result_4 = pd.concat([result_4, kospi4.loc[[j]]], ignore_index=True)
            break

In [156]:
result_3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2564,효성티앤씨(주),298020,2018,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2565,효성티앤씨(주),298020,2019,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2566,효성티앤씨(주),298020,2020,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2567,효성티앤씨(주),298020,2021,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2568,효성티앤씨(주),298020,2022,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [162]:
result3

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2531    효성티앤씨(주)  298020  2018   21153737.0   61097006.0  1.505390e+09
2532    효성티앤씨(주)  298020  2019   -1049472.0   92199326.0  1.570883e+09
2533    효성티앤씨(주)  298020  2020   50701876.0   66159142.0  1.301788e+09
2534    효성티앤씨(주)  298020  2021  310656361.0  433906774.0  2.388183e+09
2535    효성티앤씨(주)  298020  2022 -122094327.0 -110786906.0  2.167104e+09

[2536 rows x 6 columns]

In [157]:
result_4

             회사명   거래소코드  회계년도         당기순이익          영업손익           매출액
0     (주)BNK금융지주  138930  2011           NaN           NaN           NaN
1     (주)BNK금융지주  138930  2012           NaN           NaN           NaN
2     (주)BNK금융지주  138930  2013           NaN           NaN           NaN
3     (주)BNK금융지주  138930  2014           NaN           NaN           NaN
4     (주)BNK금융지주  138930  2015           NaN           NaN           NaN
...          ...     ...   ...           ...           ...           ...
2564    효성티앤씨(주)  298020  2018  3.149830e+07  1.250522e+08  3.359086e+09
2565    효성티앤씨(주)  298020  2019  1.220229e+08  3.229135e+08  5.983145e+09
2566    효성티앤씨(주)  298020  2020  1.682721e+08  2.665596e+08  5.161617e+09
2567    효성티앤씨(주)  298020  2021  1.007903e+09  1.423651e+09  8.596030e+09
2568    효성티앤씨(주)  298020  2022  1.918325e+07  1.235935e+08  8.882730e+09

[2569 rows x 6 columns]

In [158]:
result4 = result_4[['당기순이익', '영업손익', '매출액']] - result_3[['당기순이익', '영업손익', '매출액']]

In [159]:
result4

            당기순이익         영업손익           매출액
0             NaN          NaN           NaN
1             NaN          NaN           NaN
2             NaN          NaN           NaN
3             NaN          NaN           NaN
4             NaN          NaN           NaN
...           ...          ...           ...
2564    8365904.0   41372561.0  1.387012e+09
2565   42089476.0   83614904.0  1.470594e+09
2566  110816830.0  130101836.0  1.466228e+09
2567  217570060.0  355880406.0  2.447621e+09
2568   -6957629.0  -43209321.0  1.811053e+09

[2569 rows x 3 columns]

In [160]:
result4 = pd.concat([result_4[['회사명', '거래소코드', '회계년도']], result4], axis=1)

In [161]:
result4

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2564    효성티앤씨(주)  298020  2018    8365904.0   41372561.0  1.387012e+09
2565    효성티앤씨(주)  298020  2019   42089476.0   83614904.0  1.470594e+09
2566    효성티앤씨(주)  298020  2020  110816830.0  130101836.0  1.466228e+09
2567    효성티앤씨(주)  298020  2021  217570060.0  355880406.0  2.447621e+09
2568    효성티앤씨(주)  298020  2022   -6957629.0  -43209321.0  1.811053e+09

[2569 rows x 6 columns]

In [163]:
result1

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2517   효성첨단소재(주)  298050  2022   70792812  101649692  1003317497
2518    효성티앤씨(주)  298020  2019   31640199   54719110  1410360158
2519    효성티앤씨(주)  298020  2020   26286643   78499133  1387681972
2520    효성티앤씨(주)  298020  2021  180114270  246796651  1618201454
2521    효성티앤씨(주)  298020  2022  105372231  190141271  2340843018

[2522 rows x 6 columns]

In [164]:
result2

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2517   효성첨단소재(주)  298050  2022   57907653   97570021  1024847768
2518    효성티앤씨(주)  298020  2019   49342690   92380146  1531307622
2519    효성티앤씨(주)  298020  2020  -19533294   -8200528  1005919254
2520    효성티앤씨(주)  298020  2021  299561844  387066926  2142025260
2521    효성티앤씨(주)  298020  2022   42862973   87448464  2563729427

[2522 rows x 6 columns]

In [165]:
result3

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2531    효성티앤씨(주)  298020  2018   21153737.0   61097006.0  1.505390e+09
2532    효성티앤씨(주)  298020  2019   -1049472.0   92199326.0  1.570883e+09
2533    효성티앤씨(주)  298020  2020   50701876.0   66159142.0  1.301788e+09
2534    효성티앤씨(주)  298020  2021  310656361.0  433906774.0  2.388183e+09
2535    효성티앤씨(주)  298020  2022 -122094327.0 -110786906.0  2.167104e+09

[2536 rows x 6 columns]

In [166]:
result4

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2564    효성티앤씨(주)  298020  2018    8365904.0   41372561.0  1.387012e+09
2565    효성티앤씨(주)  298020  2019   42089476.0   83614904.0  1.470594e+09
2566    효성티앤씨(주)  298020  2020  110816830.0  130101836.0  1.466228e+09
2567    효성티앤씨(주)  298020  2021  217570060.0  355880406.0  2.447621e+09
2568    효성티앤씨(주)  298020  2022   -6957629.0  -43209321.0  1.811053e+09

[2569 rows x 6 columns]

In [167]:
# result3.to_csv('result3.csv', encoding='utf-8-sig')
# result4.to_csv('result4.csv', encoding='utf-8-sig')

In [168]:
data2 = pd.DataFrame(columns=result2.columns)  # 빈 데이터프레임 생성
data3 = pd.DataFrame(columns=result3.columns)  # 빈 데이터프레임 생성

for i in range(len(result2)):
    for j in range(len(result3)):
        if (result2.loc[i, '회사명'] == result3.loc[j, '회사명'] and
            result2.loc[i, '거래소코드'] == result3.loc[j, '거래소코드'] and
            result2.loc[i, '회계년도'] == result3.loc[j, '회계년도']):
            data2 = pd.concat([data2, result2.loc[[i]]], ignore_index=True)
            data3 = pd.concat([data3, result3.loc[[j]]], ignore_index=True)
            break

In [169]:
data2

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2515   효성첨단소재(주)  298050  2022   57907653   97570021  1024847768
2516    효성티앤씨(주)  298020  2019   49342690   92380146  1531307622
2517    효성티앤씨(주)  298020  2020  -19533294   -8200528  1005919254
2518    효성티앤씨(주)  298020  2021  299561844  387066926  2142025260
2519    효성티앤씨(주)  298020  2022   42862973   87448464  2563729427

[2520 rows x 6 columns]

In [170]:
data3

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2515   효성첨단소재(주)  298050  2022   25968332.0   66058698.0  9.753472e+08
2516    효성티앤씨(주)  298020  2019   -1049472.0   92199326.0  1.570883e+09
2517    효성티앤씨(주)  298020  2020   50701876.0   66159142.0  1.301788e+09
2518    효성티앤씨(주)  298020  2021  310656361.0  433906774.0  2.388183e+09
2519    효성티앤씨(주)  298020  2022 -122094327.0 -110786906.0  2.167104e+09

[2520 rows x 6 columns]

In [171]:
# data2.to_csv('data2.csv', encoding='utf-8-sig')
# data3.to_csv('data3.csv', encoding='utf-8-sig')

In [172]:
data3 = pd.DataFrame(columns=result3.columns)  # 빈 데이터프레임 생성
data4 = pd.DataFrame(columns=result4.columns)  # 빈 데이터프레임 생성

for i in range(len(result3)):
    for j in range(len(result4)):
        if (result3.loc[i, '회사명'] == result4.loc[j, '회사명'] and
            result3.loc[i, '거래소코드'] == result4.loc[j, '거래소코드'] and
            result3.loc[i, '회계년도'] == result4.loc[j, '회계년도']):
            data3 = pd.concat([data3, result3.loc[[i]]], ignore_index=True)
            data4 = pd.concat([data4, result4.loc[[j]]], ignore_index=True)
            break

In [173]:
# data3.to_csv('data_3.csv', encoding='utf-8-sig')
# data4.to_csv('data4.csv', encoding='utf-8-sig')

In [174]:
data_1 = pd.DataFrame(columns=result1.columns)  # 빈 데이터프레임 생성
data_4 = pd.DataFrame(columns=result4.columns)  # 빈 데이터프레임 생성

for i in range(len(result1)):
    for j in range(len(result4)):
        if (result1.loc[i, '회사명'] == result4.loc[j, '회사명'] and
            result1.loc[i, '거래소코드'] == result4.loc[j, '거래소코드'] and
            result1.loc[i, '회계년도'] == result4.loc[j, '회계년도']):
            data_1 = pd.concat([data_1, result1.loc[[i]]], ignore_index=True)
            data_4 = pd.concat([data_4, result4.loc[[j]]], ignore_index=True)
            break

In [175]:
# data_1.to_csv('data_1.csv', encoding='utf-8-sig')
# data_4.to_csv('data_4.csv', encoding='utf-8-sig')

In [176]:
data_1

             회사명   거래소코드  회계년도      당기순이익       영업손익         매출액
0     (주)BNK금융지주  138930  2011          0          0           0
1     (주)BNK금융지주  138930  2012          0          0           0
2     (주)BNK금융지주  138930  2013          0          0           0
3     (주)BNK금융지주  138930  2014          0          0           0
4     (주)BNK금융지주  138930  2015          0          0           0
...          ...     ...   ...        ...        ...         ...
2515   효성첨단소재(주)  298050  2022   70792812  101649692  1003317497
2516    효성티앤씨(주)  298020  2019   31640199   54719110  1410360158
2517    효성티앤씨(주)  298020  2020   26286643   78499133  1387681972
2518    효성티앤씨(주)  298020  2021  180114270  246796651  1618201454
2519    효성티앤씨(주)  298020  2022  105372231  190141271  2340843018

[2520 rows x 6 columns]

In [178]:
data_4

             회사명   거래소코드  회계년도        당기순이익         영업손익           매출액
0     (주)BNK금융지주  138930  2011          NaN          NaN           NaN
1     (주)BNK금융지주  138930  2012          NaN          NaN           NaN
2     (주)BNK금융지주  138930  2013          NaN          NaN           NaN
3     (주)BNK금융지주  138930  2014          NaN          NaN           NaN
4     (주)BNK금융지주  138930  2015          NaN          NaN           NaN
...          ...     ...   ...          ...          ...           ...
2515   효성첨단소재(주)  298050  2022    5569574.0   49791902.0  8.378604e+08
2516    효성티앤씨(주)  298020  2019   42089476.0   83614904.0  1.470594e+09
2517    효성티앤씨(주)  298020  2020  110816830.0  130101836.0  1.466228e+09
2518    효성티앤씨(주)  298020  2021  217570060.0  355880406.0  2.447621e+09
2519    효성티앤씨(주)  298020  2022   -6957629.0  -43209321.0  1.811053e+09

[2520 rows x 6 columns]

In [186]:
data_4['영업손익'] = data_4['영업손익'].shift(1)
data_1['정상영업이익증가율'] = (data_1['영업손익'] - data_4['영업손익']) / data_4['영업손익'] * 100

In [187]:
data_4['당기순이익'] = data_4['당기순이익'].shift(1)
data_1['순이익증가율'] = (data_1['당기순이익'] - data_4['당기순이익']) / data_4['당기순이익'] * 100

In [188]:
data_4['매출액'] = data_4['매출액'].shift(1)
data_1['매출액증가율'] = (data_1['매출액'] - data_4['매출액']) / data_4['매출액'] * 100

In [192]:
data_1 = data_1[['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '매출액증가율']]

In [286]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   회사명        2520 non-null   object
 1   거래소코드      2520 non-null   object
 2   회계년도       2520 non-null   object
 3   정상영업이익증가율  2305 non-null   object
 4   순이익증가율     2305 non-null   object
 5   매출액증가율     2305 non-null   object
dtypes: object(6)
memory usage: 118.2+ KB

In [196]:
kospi1 = kospi1[['회사명', '거래소코드', '회계년도', '주당순손익', '부채비율', '매출액정상영업이익률']]

In [201]:
kospi1

             회사명   거래소코드  회계년도  주당순손익        부채비율  매출액정상영업이익률
0     (주)BNK금융지주  138930  2011    NaN         NaN         NaN
1     (주)BNK금융지주  138930  2012    NaN         NaN         NaN
2     (주)BNK금융지주  138930  2013    NaN         NaN         NaN
3     (주)BNK금융지주  138930  2014    NaN         NaN         NaN
4     (주)BNK금융지주  138930  2015    NaN         NaN         NaN
...          ...     ...   ...    ...         ...         ...
2628   효성첨단소재(주)  298050  2022    0.0  327.825675   10.131358
2629    효성티앤씨(주)  298020  2019    0.0  533.684655    3.879797
2630    효성티앤씨(주)  298020  2020    0.0  445.689326    5.656853
2631    효성티앤씨(주)  298020  2021    0.0  259.614113   15.251293
2632    효성티앤씨(주)  298020  2022    0.0  209.984343    8.122769

[2633 rows x 6 columns]

In [197]:
k_1 = pd.DataFrame(columns=data_1.columns)  # 빈 데이터프레임 생성
k_1_ = pd.DataFrame(columns=kospi1.columns)  # 빈 데이터프레임 생성

for i in range(len(data_1)):
    for j in range(len(kospi1)):
        if (data_1.loc[i, '회사명'] == kospi1.loc[j, '회사명'] and
            data_1.loc[i, '거래소코드'] == kospi1.loc[j, '거래소코드'] and
            data_1.loc[i, '회계년도'] == kospi1.loc[j, '회계년도']):
            k_1 = pd.concat([k_1, data_1.loc[[i]]], ignore_index=True)
            k_1_ = pd.concat([k_1_, kospi1.loc[[j]]], ignore_index=True)
            break

In [199]:
k_1

             회사명   거래소코드  회계년도  정상영업이익증가율      순이익증가율     매출액증가율
0     (주)BNK금융지주  138930  2011        NaN         NaN        NaN
1     (주)BNK금융지주  138930  2012        NaN         NaN        NaN
2     (주)BNK금융지주  138930  2013        NaN         NaN        NaN
3     (주)BNK금융지주  138930  2014        NaN         NaN        NaN
4     (주)BNK금융지주  138930  2015        NaN         NaN        NaN
...          ...     ...   ...        ...         ...        ...
2515   효성첨단소재(주)  298050  2022   5.601108   -6.394356   1.465495
2516    효성티앤씨(주)  298020  2019   9.895601  468.090109  68.328782
2517    효성티앤씨(주)  298020  2020  -6.118253  -37.545806  -5.637976
2518    효성티앤씨(주)  298020  2021  89.694979   62.533317  10.364907
2519    효성티앤씨(주)  298020  2022 -46.571582  -51.568598  -4.362511

[2520 rows x 6 columns]

In [200]:
k_1_

             회사명   거래소코드  회계년도  주당순손익        부채비율  매출액정상영업이익률
0     (주)BNK금융지주  138930  2011    NaN         NaN         NaN
1     (주)BNK금융지주  138930  2012    NaN         NaN         NaN
2     (주)BNK금융지주  138930  2013    NaN         NaN         NaN
3     (주)BNK금융지주  138930  2014    NaN         NaN         NaN
4     (주)BNK금융지주  138930  2015    NaN         NaN         NaN
...          ...     ...   ...    ...         ...         ...
2515   효성첨단소재(주)  298050  2022    0.0  327.825675   10.131358
2516    효성티앤씨(주)  298020  2019    0.0  533.684655    3.879797
2517    효성티앤씨(주)  298020  2020    0.0  445.689326    5.656853
2518    효성티앤씨(주)  298020  2021    0.0  259.614113   15.251293
2519    효성티앤씨(주)  298020  2022    0.0  209.984343    8.122769

[2520 rows x 6 columns]

In [287]:
kospi1 = pd.concat([k_1[['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '매출액증가율']], k_1_[['주당순손익', '부채비율', '매출액정상영업이익률']]], axis=1)

In [288]:
kospi1

,회사명,거래소코드,회계년도,정상영업이익증가율,순이익증가율,매출액증가율,주당순손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2515,효성첨단소재(주),298050,2022,5.601108,-6.394356,1.465495,0.0,327.825675,10.131358
2516,효성티앤씨(주),298020,2019,9.895601,468.090109,68.328782,0.0,533.684655,3.879797
2517,효성티앤씨(주),298020,2020,-6.118253,-37.545806,-5.637976,0.0,445.689326,5.656853
2518,효성티앤씨(주),298020,2021,89.694979,62.533317,10.364907,0.0,259.614113,15.251293
2519,효성티앤씨(주),298020,2022,-46.571582,-51.568598,-4.362511,0.0,209.984343,8.122769

In [ ]:
kospi1_

In [289]:
kospi1.to_csv('1Q.csv', encoding='utf-8-sig')

In [264]:
kospi_3 = pd.read_csv("./율3분기.csv")

In [265]:
kospi_3

,Unnamed: 0.1,Unnamed: 0,회사명,거래소코드,회계년도,정상영업이익증가율,순이익증가율,매출액증가율
0,0,0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN
1,1,1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN
2,2,2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN
3,3,3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN
4,4,4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2515,2515,2515,효성첨단소재(주),298050,2022,-32.296112,-55.155613,-4.830042
2516,2516,2516,효성티앤씨(주),298020,2019,-0.195735,-102.126905,2.584437
2517,2517,2517,효성티앤씨(주),298020,2020,-906.766857,-359.566441,29.412725
2518,2518,2518,효성티앤씨(주),298020,2021,12.101227,3.703581,11.491809
2519,2519,2519,효성티앤씨(주),298020,2022,-226.688224,-384.848013,-15.470640

In [266]:
kospi_3 = kospi_3[['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '매출액증가율']]

In [246]:
kospi_3

             회사명   거래소코드  회계년도   정상영업이익증가율      순이익증가율     매출액증가율
0     (주)BNK금융지주  138930  2011         NaN         NaN        NaN
1     (주)BNK금융지주  138930  2012         NaN         NaN        NaN
2     (주)BNK금융지주  138930  2013         NaN         NaN        NaN
3     (주)BNK금융지주  138930  2014         NaN         NaN        NaN
4     (주)BNK금융지주  138930  2015         NaN         NaN        NaN
...          ...     ...   ...         ...         ...        ...
2515   효성첨단소재(주)  298050  2022  -32.296112  -55.155613  -4.830042
2516    효성티앤씨(주)  298020  2019   -0.195735 -102.126905   2.584437
2517    효성티앤씨(주)  298020  2020 -906.766857 -359.566441  29.412725
2518    효성티앤씨(주)  298020  2021   12.101227    3.703581  11.491809
2519    효성티앤씨(주)  298020  2022 -226.688224 -384.848013 -15.470640

[2520 rows x 6 columns]

In [267]:
kospi3

,회사명,거래소코드,회계년도,당기순이익,주당순손익,부채,매출액,자본,영업손익,부채비율,매출액정상영업이익률
0,(주)BNK금융지주,138930,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2641,효성티앤씨(주),298020,2018,23132399.0,0.0,2.817659e+09,1.972074e+09,4.828314e+08,8.367966e+07,583.570009,4.243231
2642,효성티앤씨(주),298020,2019,79933417.0,0.0,2.820641e+09,4.512551e+09,5.579122e+08,2.392986e+08,505.570765,5.302956
2643,효성티앤씨(주),298020,2020,57455225.0,0.0,2.294985e+09,3.695389e+09,6.234216e+08,1.364577e+08,368.127280,3.692649
2644,효성티앤씨(주),298020,2021,790332475.0,0.0,2.592636e+09,6.148409e+09,1.562677e+09,1.067770e+09,165.909917,17.366611
2645,효성티앤씨(주),298020,2022,26140877.0,0.0,3.464575e+09,7.071677e+09,1.654148e+09,1.668028e+08,209.447660,2.358745

In [268]:
kospi3 = kospi3[['회사명', '거래소코드', '회계년도', '주당순손익', '부채비율', '매출액정상영업이익률']]

In [269]:
kospi3

             회사명   거래소코드  회계년도  주당순손익        부채비율  매출액정상영업이익률
0     (주)BNK금융지주  138930  2011    NaN         NaN         NaN
1     (주)BNK금융지주  138930  2012    NaN         NaN         NaN
2     (주)BNK금융지주  138930  2013    NaN         NaN         NaN
3     (주)BNK금융지주  138930  2014    NaN         NaN         NaN
4     (주)BNK금융지주  138930  2015    NaN         NaN         NaN
...          ...     ...   ...    ...         ...         ...
2641    효성티앤씨(주)  298020  2018    0.0  583.570009    4.243231
2642    효성티앤씨(주)  298020  2019    0.0  505.570765    5.302956
2643    효성티앤씨(주)  298020  2020    0.0  368.127280    3.692649
2644    효성티앤씨(주)  298020  2021    0.0  165.909917   17.366611
2645    효성티앤씨(주)  298020  2022    0.0  209.447660    2.358745

[2646 rows x 6 columns]

In [277]:
kospi_3

             회사명   거래소코드  회계년도   정상영업이익증가율      순이익증가율     매출액증가율
0     (주)BNK금융지주  138930  2011         NaN         NaN        NaN
1     (주)BNK금융지주  138930  2012         NaN         NaN        NaN
2     (주)BNK금융지주  138930  2013         NaN         NaN        NaN
3     (주)BNK금융지주  138930  2014         NaN         NaN        NaN
4     (주)BNK금융지주  138930  2015         NaN         NaN        NaN
...          ...     ...   ...         ...         ...        ...
2515   효성첨단소재(주)  298050  2022  -32.296112  -55.155613  -4.830042
2516    효성티앤씨(주)  298020  2019   -0.195735 -102.126905   2.584437
2517    효성티앤씨(주)  298020  2020 -906.766857 -359.566441  29.412725
2518    효성티앤씨(주)  298020  2021   12.101227    3.703581  11.491809
2519    효성티앤씨(주)  298020  2022 -226.688224 -384.848013 -15.470640

[2520 rows x 6 columns]

In [271]:
k_3 = pd.DataFrame(columns=kospi_3.columns)  # 빈 데이터프레임 생성
k_3_ = pd.DataFrame(columns=kospi3.columns)  # 빈 데이터프레임 생성

for i in range(len(kospi_3)):
    for j in range(len(kospi3)):
        if (kospi_3.loc[i, '회사명'] == kospi3.loc[j, '회사명'] and
            kospi_3.loc[i, '거래소코드'] == kospi3.loc[j, '거래소코드'] and
            kospi_3.loc[i, '회계년도'] == kospi3.loc[j, '회계년도']):
            k_3 = pd.concat([k_3, kospi_3.loc[[i]]], ignore_index=True)
            k_3_ = pd.concat([k_3_, kospi3.loc[[j]]], ignore_index=True)
            break

In [272]:
k_3

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 정상영업이익증가율, 순이익증가율, 매출액증가율]
Index: []

In [273]:
kospi3 = pd.concat([k_3[['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '매출액증가율']], k_3_[['주당순손익', '부채비율', '매출액정상영업이익률']]], axis=1)

In [274]:
kospi3

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 정상영업이익증가율, 순이익증가율, 매출액증가율, 주당순손익, 부채비율, 매출액정상영업이익률]
Index: []

In [ ]:
kospi3.to_csv('3Q.csv', encoding='utf-8-sig')