In [31]:
import pandas as pd
import numpy as np

In [32]:
kospi_1 = pd.read_csv("./거시경제변수데이터/코스피200_사업보고서연결.csv", encoding = "euc-kr")
kospi_2 = pd.read_csv("./거시경제변수데이터/코스피200_사업보고서개별.csv", encoding = "euc-kr")
kospi_3 = pd.read_csv("./거시경제변수데이터/코스피200_반기보고서연결.csv", encoding = "euc-kr")
kospi_4 = pd.read_csv("./거시경제변수데이터/코스피200_반기보고서개별.csv", encoding = "euc-kr")
kospi1 = pd.read_csv("./거시경제변수데이터/코200_사업보고서연결.csv", encoding = "euc-kr")
kospi2 = pd.read_csv("./거시경제변수데이터/코200_사업보고서개별.csv", encoding = "euc-kr")
k1 = pd.read_csv("./거시경제변수데이터/반기종가.csv")
k2 = pd.read_csv("./거시경제변수데이터/전기종가.csv")

In [33]:
k2.columns = ['Unnamed: 0', '거래소코드', '종목명', '회계년도', '종가']

In [34]:
k2['거래소코드'] = k2['거래소코드'].astype(str).str.zfill(6)

In [35]:
k2

      Unnamed: 0   거래소코드        종목명     회계년도      종가
0              0  005930       삼성전자  2007/12  556000
1              1  005490      POSCO  2007/12  575000
2              2  009540      현대중공업  2007/12  442500
3              3  015760       한국전력  2007/12   39650
4              4  060000       국민은행  2007/12   69000
...          ...     ...        ...      ...     ...
3196         195  105630       한세실업  2022/12   15400
3197         196  241590   화승엔터프라이즈  2022/12    9230
3198         197  284740      쿠쿠홈시스  2022/12   29400
3199         198  294870  HDC현대산업개발  2022/12   10000
3200         199  057050      현대홈쇼핑  2022/12   53900

[3201 rows x 5 columns]

In [61]:
kospi1['회사명'].unique()

array(['(주)BNK금융지주', '(주)DB하이텍', '(주)JB금융지주', '(주)KB금융지주', '(주)강원랜드',
       '(주)녹십자', '(주)녹십자홀딩스', '(주)농심', '(주)대우건설', '(주)대웅', '(주)대웅제약',
       '(주)대한항공', '(주)더블유게임즈', '(주)동서', '(주)두산', '(주)메리츠금융지주', '(주)보령',
       '(주)비지에프리테일', '(주)셀트리온', '(주)신세계', '(주)신세계인터내셔날', '(주)신한금융지주회사',
       '(주)아모레퍼시픽', '(주)아모레퍼시픽그룹', '(주)에스원', '(주)에프앤에프', '(주)엔씨소프트',
       '(주)엘에스', '(주)엘엑스인터내셔널', '(주)엘지', '(주)엘지생활건강', '(주)엘지에너지솔루션',
       '(주)엘지유플러스', '(주)엘지화학', '(주)영원무역', '(주)영풍', '(주)오뚜기', '(주)오리온',
       '(주)오리온홀딩스', '(주)우리금융지주', '(주)유한양행', '(주)이마트', '(주)제일기획', '(주)종근당',
       '(주)지누스', '(주)지에스', '(주)지에스리테일', '(주)카카오', '(주)카카오뱅크', '(주)카카오페이',
       '(주)케이씨씨', '(주)케이티', '(주)케이티앤지', '(주)크래프톤', '(주)포스코인터내셔널',
       '(주)포스코퓨처엠', '(주)풍산', '(주)하나금융지주', '(주)하나투어', '(주)하이브', '(주)한샘',
       '(주)한섬', '(주)한솔케미칼', '(주)한진칼', '(주)한화', '(주)현대미포조선', '(주)현대백화점',
       '(주)현대지에프홀딩스', '(주)현대홈쇼핑', '(주)호텔신라', '(주)화승엔터프라이즈', '(주)효성',
       '(주)후성', '(주)휠라홀딩스', 'DB손해보험(주)', 'HD현대(주)', 'KG스틸(주)', 'LG이노텍(주)',
       'LS일렉트릭(주)', 'SK이노베이션(주)', '고려아연(주)', '그랜드코리아레저(주)', '금호석유화학(주)',
       '금호타이어(주)', '기아(주)', '네이버(주)', '넷마블(주)', '대상(주)', '대우조선해양(주)',
       '대한유화(주)', '대한전선(주)', '동국홀딩스(주)', '동원산업(주)', '동원시스템즈(주)',
       '두산밥캣(주)', '두산에너빌리티(주)', '두산퓨얼셀(주)', '디엘(주)', '디엘이앤씨(주)',
       '롯데관광개발(주)', '롯데쇼핑(주)', '롯데에너지머티리얼즈(주)', '롯데웰푸드(주)', '롯데정밀화학(주)',
       '롯데지주(주)', '롯데칠성음료(주)', '롯데케미칼(주)', '메리츠증권(주)', '명신산업(주)',
       '미래에셋증권(주)', '삼성SDI(주)', '삼성물산(주)', '삼성바이오로직스(주)', '삼성생명보험(주)',
       '삼성에스디에스(주)', '삼성엔지니어링(주)', '삼성전기(주)', '삼성전자(주)', '삼성중공업(주)',
       '삼성증권(주)', '삼성카드(주)', '삼성화재해상보험(주)', '세방전지(주)', '신풍제약(주)',
       '쌍용씨앤이(주)', '씨에스윈드(주)', '씨제이(주)', '씨제이대한통운(주)', '씨제이제일제당(주)',
       '아시아나항공(주)', '아이에스동서(주)', '에스디바이오센서(주)', '에스엘(주)', '에스케이(주)',
       '에스케이네트웍스(주)', '에스케이바이오사이언스(주)', '에스케이바이오팜(주)', '에스케이스퀘어(주)',
       '에스케이씨(주)', '에스케이아이이테크놀로지(주)', '에스케이케미칼(주)', '에스케이텔레콤(주)',
       '에스케이하이닉스(주)', '에쓰-오일(주)', '에이치디씨현대산업개발(주)', '에이치디한국조선해양(주)',
       '에이치디현대인프라코어(주)', '에이치디현대중공업(주)', '에이치엘만도(주)', '에이치엠엠(주)',
       '엔에이치투자증권(주)', '엘아이지넥스원(주)', '엘지디스플레이(주)', '엘지전자(주)', '오씨아이홀딩스(주)',
       '일진하이솔루스(주)', '중소기업은행', '지에스건설(주)', '케이카(주)', '코스맥스(주)',
       '코오롱인더스트리(주)', '코웨이(주)', '쿠쿠홈시스(주)', '키움증권(주)', '태광산업(주)',
       '티케이지휴켐스(주)', '팬오션(주)', '포스코홀딩스(주)', '피아이첨단소재(주)', '하이트진로(주)',
       '한국가스공사(주)', '한국앤컴퍼니(주)', '한국전력공사(주)', '한국전력기술(주)', '한국콜마(주)',
       '한국타이어앤테크놀로지(주)', '한국투자금융지주(주)', '한국항공우주산업(주)', '한미사이언스(주)',
       '한미약품(주)', '한세실업(주)', '한온시스템(주)', '한올바이오파마(주)', '한일시멘트(주)',
       '한전케이피에스(주)', '한화생명보험(주)', '한화솔루션(주)', '한화시스템(주)', '한화에어로스페이스(주)',
       '현대건설(주)', '현대글로비스(주)', '현대로템(주)', '현대모비스(주)', '현대엘리베이터(주)',
       '현대위아(주)', '현대자동차(주)', '현대제철(주)', '현대해상화재보험(주)', '효성첨단소재(주)',
       '효성티앤씨(주)'], dtype=object)

In [37]:
kospi2.columns

Index(['회사명', '거래소코드', '회계년도', '[제조]정상영업이익증가율(IFRS)', '[제조]순이익증가율(IFRS)',
       '[제조]1주당순이익(IFRS)', '[제조]부채비율(IFRS)', '[제조]매출액정상영업이익률(IFRS)',
       '[제조]매출액증가율(IFRS)', '[제조]1주당 CASH FLOW(IFRS)', '[제조]1주당순자산(IFRS)',
       '[제조]PER(최고)(IFRS)', '[제조]PER(최저)(IFRS)', '[제조]PBR(최고)(IFRS)',
       '[제조]PBR(최저)(IFRS)', '[제조]PCR(최고)(IFRS)', '[제조]PCR(최저)(IFRS)'],
      dtype='object')

In [38]:
kospi1.columns = ['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '1주당순이익', '부채비율', '매출액정상영업이익률', '매출액증가율', '1주당 CASH FLOW', '1주당순자산', 'PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)']
kospi2.columns = ['회사명', '거래소코드', '회계년도', '정상영업이익증가율', '순이익증가율', '1주당순이익', '부채비율', '매출액정상영업이익률', '매출액증가율', '1주당 CASH FLOW', '1주당순자산', 'PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)']

In [39]:
kospi1.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
정상영업이익증가율         576
순이익증가율            576
1주당순이익            576
부채비율              576
매출액정상영업이익률        576
매출액증가율            576
1주당 CASH FLOW     576
1주당순자산           2830
PER(최고)           397
PER(최저)           397
PBR(최고)           397
PBR(최저)           397
PCR(최고)           397
PCR(최저)           397
dtype: int64

In [40]:
kospi = kospi1.fillna(kospi2)

In [41]:
# kospi = pd.concat([kospi, kospi_], axis=1)
# kospii = pd.concat([kospii, kospi__], axis=1)

In [42]:
kospi = kospi.reset_index(drop=True)

In [43]:
len(kospi["회사명"].unique())

200

In [44]:
kospi["PER"] = (kospi["PER(최고)"] + kospi["PER(최저)"])/2
kospi["PBR"] = (kospi["PBR(최고)"] + kospi["PBR(최저)"])/2
kospi["PCR"] = (kospi["PCR(최고)"] + kospi["PCR(최저)"])/2

In [45]:
kospi.drop(["PER(최고)", "PER(최저)", "PBR(최고)", "PBR(최저)", "PCR(최고)", "PCR(최저)"], axis=1, inplace=True)

In [46]:
kospi

,회사명,거래소코드,회계년도,정상영업이익증가율,순이익증가율,1주당순이익,부채비율,매출액정상영업이익률,매출액증가율,1주당 CASH FLOW,1주당순자산,PER,PBR,PCR
0,(주)BNK금융지주,138930,2011/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,효성티앤씨(주),298020,2018/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2826,효성티앤씨(주),298020,2019/12,158.22,338.18,21569.0,453.10,5.40,78.12,80769.46,81519.29,359.480,2.000,5.120
2827,효성티앤씨(주),298020,2020/12,-17.45,46.96,31698.0,294.79,5.16,-13.73,130512.89,107417.54,10.240,1.375,3.240
2828,효성티앤씨(주),298020,2021/12,434.08,463.14,178503.0,156.66,16.56,66.54,148645.95,122485.93,9.165,4.770,12.370
2829,효성티앤씨(주),298020,2022/12,-91.32,-98.50,2686.0,185.04,1.39,3.34,67792.19,179902.61,6.485,2.415,7.755

In [47]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830 entries, 0 to 2829
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회사명            2830 non-null   object
 1   거래소코드          2830 non-null   int64
 2   회계년도           2830 non-null   object
 3   정상영업이익증가율      2433 non-null   float64
 4   순이익증가율         2433 non-null   float64
 5   1주당순이익         2433 non-null   float64
 6   부채비율           2433 non-null   float64
 7   매출액정상영업이익률     2433 non-null   float64
 8   매출액증가율         2433 non-null   float64
 9   1주당 CASH FLOW  2433 non-null   float64
 10  1주당순자산         2433 non-null   float64
 11  PER            2433 non-null   float64
 12  PBR            2433 non-null   float64
 13  PCR            2433 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 309.7+ KB

In [48]:
#kospi['거래소코드'].unique()
kospi['거래소코드'] = kospi['거래소코드'].astype(str).str.zfill(6)

In [49]:
kospi['거래소코드'].unique()

array(['138930', '000990', '175330', '105560', '035250', '006280',
       '005250', '004370', '047040', '003090', '069620', '003490',
       '192080', '026960', '000150', '138040', '003850', '282330',
       '068270', '004170', '031430', '055550', '090430', '002790',
       '012750', '383220', '036570', '006260', '001120', '003550',
       '051900', '373220', '032640', '051910', '111770', '000670',
       '007310', '271560', '001800', '316140', '000100', '139480',
       '030000', '185750', '013890', '078930', '007070', '035720',
       '323410', '377300', '002380', '030200', '033780', '259960',
       '047050', '003670', '103140', '086790', '039130', '352820',
       '009240', '020000', '014680', '180640', '000880', '010620',
       '069960', '005440', '057050', '008770', '241590', '004800',
       '093370', '081660', '005830', '267250', '016380', '011070',
       '010120', '096770', '010130', '114090', '011780', '073240',
       '000270', '035420', '251270', '001680', '042660', '006650',
       '001440', '001230', '006040', '014820', '241560', '034020',
       '336260', '000210', '375500', '032350', '023530', '020150',
       '280360', '004000', '004990', '005300', '011170', '008560',
       '009900', '006800', '006400', '028260', '207940', '032830',
       '018260', '028050', '009150', '005930', '010140', '016360',
       '029780', '000810', '004490', '019170', '003410', '112610',
       '001040', '000120', '097950', '020560', '010780', '137310',
       '005850', '034730', '001740', '302440', '326030', '402340',
       '011790', '361610', '285130', '017670', '000660', '010950',
       '294870', '009540', '042670', '329180', '204320', '011200',
       '005940', '079550', '034220', '066570', '010060', '271940',
       '024110', '006360', '381970', '192820', '120110', '021240',
       '284740', '039490', '003240', '069260', '028670', '005490',
       '178920', '000080', '036460', '000240', '015760', '052690',
       '161890', '161390', '071050', '047810', '008930', '128940',
       '105630', '018880', '009420', '300720', '051600', '088350',
       '009830', '272210', '012450', '000720', '086280', '064350',
       '012330', '017800', '011210', '005380', '004020', '001450',
       '298050', '298020'], dtype=object)

In [50]:
kospi['회계년도'].unique()

array(['2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12',
       '2017/12', '2018/12', '2019/12', '2020/12', '2021/12', '2022/12',
       '2007/12', '2008/12', '2009/12', '2010/12', '2007/03', '2008/03',
       '2009/03', '2010/03', '2011/03', '2012/03', '2013/03'],
      dtype=object)

In [51]:
# kospi = kospi[kospi['회계년도'].str.contains(r'\d{4}/12')]

In [52]:
# kospi.to_csv('kospi_사업_결측치존재.csv', encoding='utf-8-sig')

In [53]:
# kospii.to_csv('kospi_반기.csv', encoding='utf-8-sig')

In [54]:
kospi

,회사명,거래소코드,회계년도,정상영업이익증가율,순이익증가율,1주당순이익,부채비율,매출액정상영업이익률,매출액증가율,1주당 CASH FLOW,1주당순자산,PER,PBR,PCR
0,(주)BNK금융지주,138930,2011/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,효성티앤씨(주),298020,2018/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2826,효성티앤씨(주),298020,2019/12,158.22,338.18,21569.0,453.10,5.40,78.12,80769.46,81519.29,359.480,2.000,5.120
2827,효성티앤씨(주),298020,2020/12,-17.45,46.96,31698.0,294.79,5.16,-13.73,130512.89,107417.54,10.240,1.375,3.240
2828,효성티앤씨(주),298020,2021/12,434.08,463.14,178503.0,156.66,16.56,66.54,148645.95,122485.93,9.165,4.770,12.370
2829,효성티앤씨(주),298020,2022/12,-91.32,-98.50,2686.0,185.04,1.39,3.34,67792.19,179902.61,6.485,2.415,7.755

In [55]:
kospi = pd.merge(kospi, k2[['거래소코드', '회계년도', '종가']], on=['거래소코드', '회계년도'], how='left')

In [62]:
kospi.isnull()

,회사명,거래소코드,회계년도,정상영업이익증가율,순이익증가율,1주당순이익,부채비율,매출액정상영업이익률,매출액증가율,1주당 CASH FLOW,1주당순자산,PER,PBR,PCR,종가,per,pbr,pcr
0,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
1,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
2,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
3,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
4,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
2827,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
2828,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2829,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [57]:
kospi['per'] = kospi["종가"]/ kospi["1주당순이익"]
kospi['pbr'] = kospi["종가"]/ kospi["1주당순자산"]
kospi['pcr'] = kospi["종가"]/ kospi["1주당 CASH FLOW"]

In [58]:
kospi.isna().sum()

회사명                0
거래소코드              0
회계년도               0
정상영업이익증가율        397
순이익증가율           397
1주당순이익           397
부채비율             397
매출액정상영업이익률       397
매출액증가율           397
1주당 CASH FLOW    397
1주당순자산           397
PER              397
PBR              397
PCR              397
종가               689
per              882
pbr              882
pcr              882
dtype: int64