0. 함수를 정의할때 무조건 ()에 매개변수를 넣어서 활용
    - 매개변수는 함수 내부에 전달되는 값
    - 함수 사용할때 변경할때는 괄호안에 넣는게 아니라. 또는 []로 사용하고 변경이 아니라 길이를 알거나 범위를 지정하고 싶을때는 ()안에 넣기
    - 함수를 정의할때 반환할 값이 있으면 return함수 사용 return은 호출이라 () 생략 가능
    - 밑의 함수들은 내장함수 def는 함수를 정의하는것

1. input() 함수 - 키보드로 입력받은 값을 문자열로 반환 : 따라서 숫자로 받을려면 int 형태로 바꿔줘야함

In [64]:
# 예시
score = int(input("점수를 입력하시오 "))  # input 함수는 문자열로 반환하기때문에 "" 필요함

if score >= 90:
    print('A')
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else : 
    print("F")

print("프로그램 종료")

F
프로그램 종료

2. range() 함수
   - range(시작값, 종료값, 증가값) : 정수
   - range(반복횟수)
   - 0부터 반복

3. 순서
- a.sort() 순서를 오름차순으로 변경
- b.reverse() 순서를 역순으로 변경
    - 리스트에서만 사용가능
        - 튜플은 리스트로 변경후 사용
        - 딕셔너리는 sorted()함수 사용 : 리스트에서도 사용가능

4. 항목 추가 및 삭제
- a.pop() : a 리스트에서 마지막 항목 삭제
- b.append(22) :# b 리스트에는 22라는 항목을 마지막 항에 추가 
- dict['area'] = 'seoul' : dict이라는 딕셔너리에서 추가 : 딕셔너리에서
- del(dict['phone']) dict이라는 딕셔너리에서 키 값을 삭제 : 딕셔너리에서

5. len()함수 : 길이를 알고싶을때
    - 리스트, 딕셔너리, 튜플 다 사용가능

6. 대소문자 변경 함수
- upper() 함수 : 문자를 모두 대문자로 변경
- lower() 함수 : 문자를 모두 소문자로 변경
- title() 함수 : 문자의 첫글자만 대문자로 변경(띄어쓰기마다)

In [2]:
# str.upper()를 사용하여 문자열을 대문자로 변경하는 방식
uriage['item_name'] = uriage['item_name'].str.upper()

NameError: name 'uriage' is not defined

7. 공백 삭제 함수
    - strip() : 양끝 좌우 모두 공백 삭제
    - lstrip() : 좌측 공백만 제거
    - rstrip() : 우측 공백만 제거

In [65]:
# b라는 변수에 있는 '$' 표시를 제거
b = "$2.$11$"
b.strip('$')

'2.$11'

8. replace() : 특정단어를 대체하는 함수
    - strip()은 가운데값은 못없애기때문에 replace 사용

In [66]:
# b 변수의 '$' 표기를 없애기
b.replace('$', '')

'2.11'

In [67]:
# a 변수에 공백을 모두 삭제
b.replace(" ", "")

'$2.$11$'

9. split(특정한 값) : 문자열을 특정한 값을 기준으로 나눠주는 함수
    - split(특정한 값)-> 인자 값을 아무것도 넣지 않으면 " "을 기준으로 나눠준다

In [68]:
a = "1,2,3,4,5"
b = "1 2 3 4 5"

print(a.split(','))
print(a.split('2'))
print(b.split(','))

['1', '2', '3', '4', '5']
['1,', ',3,4,5']
['1 2 3 4 5']

9. 가장 크고 작은 숫자 출력
    - max() -> 인자값들 중에 가장 큰 숫자를 출력
    - min() -> 인자 값들 중에 가장 작은 숫자를 출력

## 판다스

### 20230404-01_pandas 파일

1. Series()와 DataFrame()은 판다스에서만 사용가능
2. 데이터프레임은 행과 열로 이루어져있고 각 열은 시리즈로 이루어짐. 시리즈는 인덱스와 값으로 이루어져있음
    - 행은 index 열은 columns 안은 values

In [69]:
import pandas as pd
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [70]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [71]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [72]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

3. 딕셔너리
    - 딕셔너리는 키와 값으로 이루어져있고 키는 열의 이름들을 나타냄

In [73]:
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value = {
    "name" : ["test", "test2", "test3"], 
    "age" : [20, 30, 25], 
    "phone" : ["01012345678", "01098765432", "01011112222"]
}
df2 = pd.DataFrame(_value)
df2

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   25  01011112222

In [74]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [75]:
df2.columns

Index(['name', 'age', 'phone'], dtype='object')

In [76]:
df2.values

array([['test', 20, '01012345678'],
       ['test2', 30, '01098765432'],
       ['test3', 25, '01011112222']], dtype=object)

4. 판다스에서 경로
    1. 절대 경로
    - 절대적인 경로
    - 환경이 변하더라도 같은 위치를 지정
    - ex) c:/users/user/document/a.txt, 인터넷 url 
    2. 상대 경로
    - 상대적인 경로
    - 환경에 따라 위치가 달라진다. 
    - ./ : 현재 파일의 경로
    - ../ : 현재 경로에서 상위 폴더로 이동
    - 폴더명/ : 해당하는 하위 폴더로 이동
    - ex) pd.read_csv("../csv/corona.csv")

경로에서 sep="\t" 는???

5. isna() 결측값 확인

In [77]:
import numpy as np
_value = [
    [1,2,3], 
    [4,np.nan,6],
    [7,8,np.nan]
]
df = pd.DataFrame(_value)

df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [78]:
df.isna().sum() # 결측치 개수

0    0
1    1
2    1
dtype: int64

6. dropna() - 결측치 제거하는 함수
    - 매개변수 axis : 0, 'rows' 을 대입하면 해당하는 행을 삭제
    -               1, 'columns' 대입하면 해당하는 열을 삭제

In [79]:
df.dropna(axis = 1)

   0
0  1
1  4
2  7

6. sort_values(): pandas 데이터프레임에서 정렬을 위해 사용하는 함수, 주어진 열(column)을 기준으로 데이터를 오름차순 또는 내림차순으로 정렬

7. ascending : 오름차순 내림차순 정렬 : 매개변수라서 ()안에서 사용
    - ascending=True, ascending=False

8. inplace=True : 저장하는거 :: 매개변수라서 ()안에서 사용

9. loc, iloc
    - loc[행의 조건, 열의 조건] : 데이터프레임에서 특정 행과 열을 이름으로 선택
    - iloc[행의 위치, 열의 위치] : 숫자로 선택

In [80]:
sales = pd.read_csv("../csv/Sales Records.csv")
sales[['Region']]

                            Region
0               Sub-Saharan Africa
1                           Europe
2     Middle East and North Africa
3               Sub-Saharan Africa
4                           Europe
...                            ...
9995                          Asia
9996                        Europe
9997            Sub-Saharan Africa
9998            Sub-Saharan Africa
9999                          Asia

[10000 rows x 1 columns]

In [81]:
flg = sales['Region'] == 'Asia'
sales.loc[flg, ['Region']]

     Region
6      Asia
7      Asia
13     Asia
23     Asia
36     Asia
...     ...
9981   Asia
9985   Asia
9990   Asia
9995   Asia
9999   Asia

[1469 rows x 1 columns]

In [82]:
sales.iloc[1:3, 1:3]

    Country   Item Type
1    Latvia   Beverages
2  Pakistan  Vegetables

10. any()함수 : 하나 이상의 요소가 True인지 여부를 판단해주는 함수
    - isna().any() 이렇게 사용하면 결측치가 포함된 데이터만 필터

In [83]:
flg_na = df.isna().any(axis=1)

In [84]:
flg_na

0    False
1     True
2     True
dtype: bool

In [85]:
df.loc[~flg_na] # 결측치가 없는것만 나옴

   0    1    2
0  1  2.0  3.0

11. describe() : 통계 요약 정보 출력하는 함수

### 20230404 02_corona 파일

12. drop() : 데이터프레임에서 하나 이상의 행 또는 열을 제거하는 함수
    - drop('이름', axis = 0 or 1)
    - 여러개 지울때 drop(['이름1', '이름2'], axis =)

13. .columns : 컬럼의 이름 변경
    -  ex) corona.columns = ["등록일시", "누적사망자", "누적확진자", "게시글번호", "기준일", "기준시간", "수정일시", "누적의심자", "누적확진률"]

14. sort_values() 데이터프레임에 차순정렬을 변경하는 함수 
    - 매개변수 ascending : True(기본값)(오름차순), False(내림차순)
    - 매개변수 inplace : 기준이 되는 데이터프레임을 수정할것인가를 지정
                        기본값은 False

15. reset_index() : DataFrame의 인덱스를 재설정
    - 매개변수 drop : 기본값(False) -> 기존의 인덱스의 값을 삭제할지 지정
    - 매개변수 inplace : 기준이 되는 데이터프레임을 수정할지 지정 
        - 이전 인덱스가 필요하지 않은 경우 drop=True 매개변수를 사용하여 제거
        - drop = False 로 두면 기존의 인덱스가 옆에 나타남

16. diff(n) : 데이터간의 차이를 출력하는 함수 
    - n의 기본값은 1 -> 1 전 인덱스 데이터를 선택
    - ex) corona["일일확진자"] = corona.누적확진자.diff() : 누적확진자 열에서 서로 차이값

17. shift() : 이동한 값을 출력
    - shift(1) : 값이 한칸씩 내려감

### 20230405 - 01_sales 파일

1. value_counts() : 항목들의 카운트를 출력하는 함수, 빈도수 높은것부터 표시
    - ex) sales['국가'].value_counts().index : 국가 컬럼의 데이터를 카운트가 높은순으로 인덱스 이름으로 표시

2. unique() : 중복을 제외한 값들의 리스트가 반환

3. pd.to_datetime(변경할 데이터, format = "")

4. 잘못했을때 copy()
    - origin_data = uriage.copy() : 안바뀌는 데이터 만들어놓기

5. apply() : DataFrame과 Series에 적용, 람다와 함께 많이 사용
- DataFrame이나 Series의 각 원소에 함수를 적용한 결과를 반환
- 람다와 같이 사용 많이함
    - 예시)함수를 이용하여 글자를 모두 소문자로 변경
    - apply()는 스리즈형태데이터.apply(함수) --> 
    - 스리즈의 데이터들을 하나씩 함수안에 넣어서 결과값으로 
    - 새로운 스리즈형태의 데이터를 생성

6. 파생변수 생성
    - ex) 총단가 --> 판매단위 * 단가 : sales['총단가'] = sales['판매단위'] * sales['단가']

7. 시계열 함수
    - to_datetime(원하는 컬럼, format="%m-%d-%y")

8. 원본 데이터 생성 : 안바뀌는 데이터 만들어놓기
    - ex) origin_data = 데이터.copy()

9. 수정된 데이터를 다시 로드 
    - 예를 들어 mm 파일일때
    - import imp
    - imp.reload(mm)

10. lambda :함수 내부에서 간단한 연산을 수행하거나, 함수를 인자로 받는 함수에서 사용, apply와 함께 많이 사용
    - ex) even_numbers = list(filter(lambda x : x % 2 == 0, numbers))

11. flg_null :데이터에서 결측값이 존재하는지 여부를 나타내는 플래그(Flag) 변수
    - ~(flg_null) = 결측치가 아닌값

8. sql 터미널에서 열기
    - mysql -u root -p

9. 한글이 표시될수 있도록 폰트 변경
    - import matplotlib.pyplot as plt
    - plt.rc('font', family = 'AppleGothic')

In [1]:
# read_csv() 안에 들어가는 인자값을 생성
# 상대경로 : ../csv/2017/파일명 -> 12개 출력
# 비어있는 데이터프레임을 하나 생성
# 경로에 있는 파일들을 pandas를 이용하여 데이터프레임으로 불러온다
# concat을 이용하여 단순하게 행을 추가하는 결합
# 결합을 하려면 기준이 되는 데이터프레임이 존재하여야한다

## 20230405 uriage파일

1. flg_null

2. value_counts()

3. fillna(n) : n의 값으로 결측치를 채운다

## 20230406 data 파일

1. concat() : 데이터프레임을 결합 - 유니언결합 : 단순하게 행을 추가하거나, 열을 추가하여 데이터프레임을 결합
    - 매개변수 axis : 행을 결합할것인지 열을 결합할것인지 지정
    - 매개변수 ignore_index : 데이터프레임을 결합한 뒤 인덱스를 초기화 할것인지 지정

2. merge() : 특정한 조건에 맞춰서 열을 추가하는 함수
- 특정 조건에 맞게 데이터를 결합 (조인 결합)
    - 데이터프레임 특정한 조건이 참이면 데이터를 결합하는 형태
    - 열을 추가하는 함수로 merge()
    - 매개변수 on : 특정한 조건 지정
    - 매개변수 how : (left, right, inner, outer) 데이터프레임의 기준을 지정

3. agg() : DataFrame이나 Series의 열(columns)에 대해 집계(aggregation) 함수를 적용하여 그룹화된 데이터를 반환
    - 한번에 여러개 해줄수 있게 하는 함수

4. strftime

5. tolist()  #tolist()는 리스트로 바꾸겠다는 뚯

plot.bar()
pivot.plot.bar()
set_index

## 크롤링 : 20230414 test

- 태그의 이름을 사용해서 검색
    - soup[태그명] : 해당 태그의 첫번째 정보를 출력
    - soup[태그명][속성] : 해당 태그의 첫번째 속성에 대한 값을 출력

append
find(), find_all
attrs

## 20230412 tips

1. round : 반올림하는 함수

plt.legend()

pd.pivot_table

any() : 인자값의 일부라도 트루면 트루 모두 펄스면 펄스
any(axis= 'columns') 트루값 찾아줌

isin : 이 함수는 Series나 DataFrame 객체에서 원하는 값이 있는지 여부를 불리언(Boolean) 형태(T, F)로 반환

dropna :  DataFrame에서 결측치가 포함된 행(row)이나 열(column)을 제거합니다
isna: isna()는 DataFrame에서 결측치(missing values)인 위치를 찾습니다.

cumprod() :# 누적곱을 해주는 함수

pct_change()

np.nan, np.inf, -np.inf : 결측치와 무한대

~ 와 ! 구분 : ~ : 비트 반전 연산자
! : 논리 부정 연산자
~ 연산자는 피연산자의 모든 비트를 반전시킵니다. 따라서, 정수형 변수의 모든 비트를 뒤집어서 부호를 반대로 만들거나, 이진수에서 비트값을 뒤집을 때 사용됩니다.

python
Copy code
x = 0b1101  # 13
y = ~x      # -14
print(y)    # -14
! 연산자는 논리값을 반대로 만듭니다. 즉, True는 False로, False는 True로 바꿉니다. 이러한 논리 부정 연산자는 조건문에서 특정 조건이 아닌 경우를 검사할 때나, 불리언(Boolean) 변수를 반대로 만들어야 할 때 사용됩니다.

rolling(20).std()

isoformat()

# class 선언
class User:
    # 생성자 함수 생성 : 매개변수는 4개 (self포함해서)
    def __init__(self, name, phone, birth):
        self.name = name
        self.phone = phone
        self.birth = birth
    
    def info(self):
        return(self.name, self.phone, self.birth)

astype(str)

.str

맥함수 제일 많이 사용 특히 여러개일때 편함

맵함수?

astype('float') : 데이터 형태 변환