In [43]:
import pandas as pd
import numpy as np

In [44]:
kospi = pd.read_csv('kospi.csv')
corps_code = kospi['종목코드'].unique().tolist()
corps_name = kospi['회사명'].unique().tolist()
corps = pd.DataFrame({'corp_code':corps_code, 'corp_name':corps_name})
corps

     corp_code  corp_name
0          990   (주)DB하이텍
1        35250    (주)강원랜드
2         6280     (주)녹십자
3         5250  (주)녹십자홀딩스
4         4370      (주)농심
..         ...        ...
174      11210    현대위아(주)
175       5380   현대자동차(주)
176       4020    현대제철(주)
177     298050  효성첨단소재(주)
178     298020   효성티앤씨(주)

[179 rows x 2 columns]

In [45]:
corps['corp_code'] = corps['corp_code'].astype(str).str.zfill(6)
corps['corp_name'] = [name.replace('(주)', '') for name in corps['corp_name']]
corps

    corp_code corp_name
0      000990     DB하이텍
1      035250      강원랜드
2      006280       녹십자
3      005250    녹십자홀딩스
4      004370        농심
..        ...       ...
174    011210      현대위아
175    005380     현대자동차
176    004020      현대제철
177    298050    효성첨단소재
178    298020     효성티앤씨

[179 rows x 2 columns]

In [46]:
from dateutil.relativedelta import relativedelta
import requests as rq
from io import BytesIO
from datetime import date


adjust_price = pd.DataFrame(columns=['날짜', '종목', '종목코드', '종가'])

for i in range(179):

    ticker = corps['corp_code'][i]
    name = corps['corp_name'][i]
    # fr = ("20131230").strptime("%Y%m%d")
    # to = ("20221230").strptime("%Y%m%d")

    url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
    &startTime=20131101&endTime=20221231&timeframe=day'''

    data = rq.get(url).content
    data_price = pd.read_csv(BytesIO(data))


    price = data_price.iloc[:, 0:6]
    price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
    price = price.dropna()
    price['날짜'] = price['날짜'].str.extract('(\d+)')
    price['날짜'] = pd.to_datetime(price['날짜'])
    price['종목코드'] = ticker
    price['종목'] = name

    columns_to_keep = ['날짜', '종목', '종목코드', '종가']
    price = price[columns_to_keep]


    #4월만 추출
    price = price[price['날짜'].dt.month == 4]
    #첫 날만 추출
    price = price.sort_values('날짜').groupby(price['날짜'].dt.year).first()

    adjust_price = pd.concat([adjust_price, price], ignore_index=True)

adjust_price

             날짜      종목    종목코드        종가
0    2014-04-01   DB하이텍  000990    6640.0
1    2015-04-01   DB하이텍  000990    5880.0
2    2016-04-01   DB하이텍  000990   18100.0
3    2017-04-03   DB하이텍  000990   20350.0
4    2018-04-02   DB하이텍  000990   14150.0
...         ...     ...     ...       ...
1407 2022-04-01  효성첨단소재  298050  522000.0
1408 2019-04-01   효성티앤씨  298020  179000.0
1409 2020-04-01   효성티앤씨  298020  104000.0
1410 2021-04-01   효성티앤씨  298020  558000.0
1411 2022-04-01   효성티앤씨  298020  462500.0

[1412 rows x 4 columns]

In [ ]:
adjust_price['수익률'] = adjust_price.groupby('종목')['종가'].pct_change() * 10
adjust_price

In [48]:
adjust_price.to_csv("./adjust_price.csv")

In [49]:
adjust_price['전년 수익률'] = adjust_price['수익률'].shift()
adjust_price.head(15)

           날짜     종목    종목코드       종가        수익률     전년 수익률
0  2014-04-01  DB하이텍  000990   6640.0        NaN        NaN
1  2015-04-01  DB하이텍  000990   5880.0  -1.144578        NaN
2  2016-04-01  DB하이텍  000990  18100.0  20.782313  -1.144578
3  2017-04-03  DB하이텍  000990  20350.0   1.243094  20.782313
4  2018-04-02  DB하이텍  000990  14150.0  -3.046683   1.243094
5  2019-04-01  DB하이텍  000990  13000.0  -0.812721  -3.046683
6  2020-04-01  DB하이텍  000990  20900.0   6.076923  -0.812721
7  2021-04-01  DB하이텍  000990  57700.0  17.607656   6.076923
8  2022-04-01  DB하이텍  000990  73400.0   2.720971  17.607656
9  2014-04-01   강원랜드  035250  30850.0        NaN   2.720971
10 2015-04-01   강원랜드  035250  34750.0   1.264182        NaN
11 2016-04-01   강원랜드  035250  41100.0   1.827338   1.264182
12 2017-04-03   강원랜드  035250  37400.0  -0.900243   1.827338
13 2018-04-02   강원랜드  035250  28500.0  -2.379679  -0.900243
14 2019-04-01   강원랜드  035250  31650.0   1.105263  -2.379679

In [50]:
adjust_price = adjust_price.dropna()
adjust_price.head(15)

           날짜     종목    종목코드        종가        수익률     전년 수익률
2  2016-04-01  DB하이텍  000990   18100.0  20.782313  -1.144578
3  2017-04-03  DB하이텍  000990   20350.0   1.243094  20.782313
4  2018-04-02  DB하이텍  000990   14150.0  -3.046683   1.243094
5  2019-04-01  DB하이텍  000990   13000.0  -0.812721  -3.046683
6  2020-04-01  DB하이텍  000990   20900.0   6.076923  -0.812721
7  2021-04-01  DB하이텍  000990   57700.0  17.607656   6.076923
8  2022-04-01  DB하이텍  000990   73400.0   2.720971  17.607656
11 2016-04-01   강원랜드  035250   41100.0   1.827338   1.264182
12 2017-04-03   강원랜드  035250   37400.0  -0.900243   1.827338
13 2018-04-02   강원랜드  035250   28500.0  -2.379679  -0.900243
14 2019-04-01   강원랜드  035250   31650.0   1.105263  -2.379679
15 2020-04-01   강원랜드  035250   18450.0  -4.170616   1.105263
16 2021-04-01   강원랜드  035250   25400.0   3.766938  -4.170616
17 2022-04-01   강원랜드  035250   28000.0   1.023622   3.766938
20 2016-04-01    녹십자  006280  178000.0   0.289017   3.568627

In [51]:
# 날짜를 년도로 변환
adjust_price['날짜'] = pd.to_datetime(adjust_price['날짜'])
adjust_price['년도'] = adjust_price['날짜'].dt.year
adjust_price

/var/folders/3q/_hd1yc9n1bb97ktwdsjxvf640000gn/T/ipykernel_80664/1769078756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjust_price['날짜'] = pd.to_datetime(adjust_price['날짜'])
/var/folders/3q/_hd1yc9n1bb97ktwdsjxvf640000gn/T/ipykernel_80664/1769078756.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjust_price['년도'] = adjust_price['날짜'].dt.year

             날짜      종목    종목코드        종가        수익률     전년 수익률    년도
2    2016-04-01   DB하이텍  000990   18100.0  20.782313  -1.144578  2016
3    2017-04-03   DB하이텍  000990   20350.0   1.243094  20.782313  2017
4    2018-04-02   DB하이텍  000990   14150.0  -3.046683   1.243094  2018
5    2019-04-01   DB하이텍  000990   13000.0  -0.812721  -3.046683  2019
6    2020-04-01   DB하이텍  000990   20900.0   6.076923  -0.812721  2020
...         ...     ...     ...       ...        ...        ...   ...
1403 2022-04-01    현대제철  004020   40750.0  -1.208198  17.426036  2022
1406 2021-04-01  효성첨단소재  298050  371500.0  51.001642  -5.297297  2021
1407 2022-04-01  효성첨단소재  298050  522000.0   4.051144  51.001642  2022
1410 2021-04-01   효성티앤씨  298020  558000.0  43.653846  -4.189944  2021
1411 2022-04-01   효성티앤씨  298020  462500.0  -1.711470  43.653846  2022

[1064 rows x 7 columns]

In [52]:
momentum_list = [pd.DataFrame() for _ in range(7)]

for i, (year, group_df) in enumerate(adjust_price.groupby('년도')):
    sorted_df = group_df.sort_values('전년 수익률', ascending=False)
    momentum_list[i] = sorted_df  # sorted_df를 momentum_list에 추가
    print(f"---- {year} ----")
    print(sorted_df)

---- 2016 ----
             날짜         종목    종목코드        종가        수익률     전년 수익률    년도
701  2016-04-01     동원시스템즈  014820   74900.0   9.867374  30.537634  2016
947  2016-04-01     아이에스동서  010780   46550.0  -3.683853  20.901468  2016
158  2016-04-01   아모레퍼시픽그룹  002790  146163.0   0.054896  18.908798  2016
1255 2016-04-01     한미사이언스  008930  128671.0  33.447915  18.613527  2016
149  2016-04-01     아모레퍼시픽  090430  390000.0   1.684133  16.379363  2016
...         ...        ...     ...       ...        ...        ...   ...
683  2016-04-01       동국제강  001230    6970.0   1.793570  -4.744798  2016
840  2016-04-01    삼성엔지니어링  028050   10550.0  -5.540432  -4.751054  2016
460  2016-04-01     현대미포조선  010620   31985.0  -1.447632  -5.155884  2016
1325 2016-04-01  한화에어로스페이스  012450   39950.0   7.369565  -5.986038  2016
543  2016-04-01       KG스틸  016380   97087.0  -5.689677  -6.317760  2016

[140 rows x 7 columns]
---- 2017 ----
             날짜       종목    종목코드        종가       수익률     전년 수익률    년도
1256 2017-04-03   한미사이언스  008930   53481.0 -5.843586  33.447915  2017
1292 2017-04-03  한올바이오파마  009420   13800.0 -2.225352  26.902287  2017
1265 2017-04-03     한미약품  128940  271320.0 -5.363502  22.709147  2017
3    2017-04-03    DB하이텍  000990   20350.0  1.243094  20.782313  2017
666  2017-04-03     대한유화  006650  242500.0 -0.600775  13.035714  2017
...         ...      ...     ...       ...       ...        ...   ...
939  2017-04-03   아시아나항공  020560   21429.0 -0.547419  -4.853809  2017
841  2017-04-03  삼성엔지니어링  028050   12600.0  1.943128  -5.540432  2017
544  2017-04-03     KG스틸  016380   41500.0 -5.725483  -5.689677  2017
657  2017-04-03   대우조선해양  042660   22400.0 -1.093439  -7.182073  2017
1063 2017-04-03    에이치엠엠  011200    7180.0 -4.865561  -7.599643  2017

[145 rows x 7 columns]
---- 2018 ----
             날짜        종목    종목코드        종가       수익률    전년 수익률    년도
1015 2018-04-02  에스케이하이닉스  000660   81300.0  5.694981  8.368794  2018
685  2018-04-02      동국제강  001230    9990.0 -1.743802  7.360115  2018
554  2018-04-02     LG이노텍  011070  123500.0 -0.885609  7.327366  2018
522  2018-04-02        후성  093370    9930.0  3.364738  7.021764  2018
1055 2018-04-02    에이치엘만도  204320   49100.0 -0.502901  6.517572  2018
...         ...       ...     ...       ...       ...       ...   ...
1266 2018-04-02      한미약품  128940  462083.0  7.030923 -5.363502  2018
1275 2018-04-02      한세실업  105630   22600.0 -0.699588 -5.589837  2018
676  2018-04-02      대한전선  001440   12470.0 -2.359069 -5.603448  2018
545  2018-04-02      KG스틸  016380   37000.0 -1.084337 -5.725483  2018
1257 2018-04-02    한미사이언스  008930   84909.0  5.876479 -5.843586  2018

[147 rows x 7 columns]
---- 2019 ----
             날짜         종목    종목코드        종가       수익률     전년 수익률    년도
125  2019-04-01       셀트리온  068270  161395.0 -3.906242  22.752489  2019
389  2019-04-01     포스코퓨처엠  003670   56316.0  2.631437  20.547448  2019
826  2019-04-01   삼성바이오로직스  207940  323667.0 -3.261318  17.613660  2019
742  2019-04-01     롯데관광개발  032350   12700.0 -3.069199  17.439353  2019
1177 2019-04-01    피아이첨단소재  178920   30600.0 -3.061224  17.055215  2019
...         ...        ...     ...       ...       ...        ...   ...
719  2019-04-01    두산에너빌리티  034020    6286.0 -4.629645  -3.598228  2019
333  2019-04-01     지에스리테일  007070   38650.0  1.502976  -3.719626  2019
1065 2019-04-01      에이치엠엠  011200    3700.0 -1.628959  -3.844011  2019
1072 2019-04-01    엘아이지넥스원  079550   39700.0 -1.597884  -4.026549  2019
1328 2019-04-01  한화에어로스페이스  012450   35200.0  2.286213  -4.037461  2019

[150 rows x 7 columns]
---- 2020 ----
             날짜        종목    종목코드        종가       수익률     전년 수익률    년도
533  2020-04-01     휠라홀딩스  081660   28000.0 -6.428571  25.156951  2020
144  2020-04-01  신세계인터내셔날  031430   36600.0 -3.889816  18.798077  2020
1356 2020-04-01      현대로템  064350   11600.0 -5.053305   4.841772  2020
1101 2020-04-01     지에스건설  006360   19150.0 -5.515222   4.826389  2020
880  2020-04-01      세방전지  004490   25700.0 -4.531915   4.135338  2020
...         ...       ...     ...       ...       ...        ...   ...
1057 2020-04-01    에이치엘만도  204320   21100.0 -2.810903  -4.022403  2020
153  2020-04-01    아모레퍼시픽  090430  158000.0 -1.897436  -4.144144  2020
669  2020-04-01      대한유화  006650   89900.0 -4.467692  -4.434932  2020
720  2020-04-01   두산에너빌리티  034020    3178.0 -4.944321  -4.629645  2020
162  2020-04-01  아모레퍼시픽그룹  002790   50600.0 -2.886865  -5.230765  2020

[157 rows x 7 columns]
---- 2021 ----
             날짜           종목    종목코드        종가        수익률     전년 수익률    년도
447  2021-04-01          한진칼  180640   57400.0  -2.913580  21.702544  2021
7    2021-04-01        DB하이텍  000990   57700.0  17.607656   6.076923  2021
890  2021-04-01         신풍제약  019170   82900.0  58.230453   5.697674  2021
1188 2021-04-01        하이트진로  000080   36250.0   3.450835   4.686649  2021
344  2021-04-01          카카오  035720  100157.0  23.156884   4.611813  2021
...         ...          ...     ...       ...        ...        ...   ...
575  2021-04-01          OCI  010060  119000.0  25.575486  -6.537267  2021
1260 2021-04-01       한미사이언스  008930   56052.0  13.267746  -6.649373  2021
1031 2021-04-01  에이치디씨현대산업개발  294870   28900.0   8.407643  -6.692787  2021
1278 2021-04-01         한세실업  105630   20000.0  12.446689  -6.857143  2021
548  2021-04-01         KG스틸  016380   14550.0  11.303075  -7.383142  2021

[161 rows x 7 columns]
---- 2022 ----
             날짜       종목    종목코드        종가       수익률     전년 수익률    년도
725  2022-04-01    두산퓨얼셀  336260   40200.0 -2.194175  89.210171  2022
1068 2022-04-01    에이치엠엠  011200   28900.0  0.395683  78.253968  2022
891  2022-04-01     신풍제약  019170   37700.0 -5.452352  58.230453  2022
1407 2022-04-01   효성첨단소재  298050  522000.0  4.051144  51.001642  2022
908  2022-04-01    씨에스윈드  112610   62000.0 -1.666667  48.619603  2022
...         ...      ...     ...       ...       ...        ...   ...
173  2022-04-01      에스원  012750   70900.0 -1.343101   0.819022  2022
1297 2022-04-01  한올바이오파마  009420   19450.0 -1.740977   0.420354  2022
944  2022-04-01   아시아나항공  020560   22700.0  3.511905   0.368450  2022
44   2022-04-01       농심  004370  298500.0  0.473684  -0.172414  2022
448  2022-04-01      한진칼  180640   62800.0  0.940767  -2.913580  2022

[164 rows x 7 columns]

In [53]:
return_mean = [pd.DataFrame() for _ in range(7)]

for i in range(7):
    momentum_list[i]['quantile'] = pd.qcut(momentum_list[i]['전년 수익률'], 5, labels=False)
    quantile_means = momentum_list[i].groupby('quantile')['수익률'].mean()
    return_mean[i] = quantile_means
    print(quantile_means)

quantile
0   -0.302716
1    1.240096
2   -0.325351
3    1.812264
4    2.425580
Name: 수익률, dtype: float64
quantile
0    0.347587
1    1.106275
2    0.575415
3   -0.543599
4   -0.639684
Name: 수익률, dtype: float64
quantile
0    2.558393
1    2.272341
2    1.151040
3    0.300808
4    2.349232
Name: 수익률, dtype: float64
quantile
0   -0.435595
1   -0.406907
2   -0.490291
3   -1.447201
4    0.589336
Name: 수익률, dtype: float64
quantile
0   -3.222173
1   -2.900000
2   -2.975705
3   -3.109897
4   -2.879008
Name: 수익률, dtype: float64
quantile
0    12.200156
1    12.325975
2     7.825903
3     8.600144
4    13.076486
Name: 수익률, dtype: float64
quantile
0   -0.271050
1    0.850626
2   -0.353365
3   -0.055903
4   -0.863771
Name: 수익률, dtype: float64

In [54]:
re = pd.concat([return_mean[0],return_mean[1],return_mean[2],return_mean[3],return_mean[4],return_mean[5],return_mean[6]], axis=1)
re.columns = ['2016', '2017', '2018', '2019', '2020', '2021', '2022']
re

,2016,2017,2018,2019,2020,2021,2022
quantile,,,,,,,
0,-0.302716,0.347587,2.558393,-0.435595,-3.222173,12.200156,-0.271050
1,1.240096,1.106275,2.272341,-0.406907,-2.900000,12.325975,0.850626
2,-0.325351,0.575415,1.151040,-0.490291,-2.975705,7.825903,-0.353365
3,1.812264,-0.543599,0.300808,-1.447201,-3.109897,8.600144,-0.055903
4,2.425580,-0.639684,2.349232,0.589336,-2.879008,13.076486,-0.863771

In [55]:
re.mean(axis=1)

quantile
0    1.553515
1    2.069772
2    0.772521
3    0.793802
4    2.008310
dtype: float64