In [25]:
import pandas as pd

In [26]:
kospi1 = pd.read_csv("./코스피200연결.csv", encoding = "euc-kr")
kospi2 = pd.read_csv("./코스피200개별.csv", encoding = "euc-kr")

In [27]:
kospi1.columns = ['회사명', '거래소코드', '회계년도', '거래월', '종가', '자산', '부채', '당기순이익', '현금흐름', '매출액', '비유동자산', '매출총이익', '법인세비용', '이자비용', '감가상각비', '유동자산',
       '유동부채', '현금및현금성자산']
kospi2.columns = ['회사명', '거래소코드', '회계년도', '거래월', '종가', '자산', '부채', '당기순이익', '현금흐름', '매출액', '비유동자산', '매출총이익', '법인세비용', '이자비용', '감가상각비', '유동자산',
       '유동부채', '현금및현금성자산']

In [28]:
kospi1

,회사명,거래소코드,회계년도,거래월,종가,자산,부채,당기순이익,현금흐름,매출액,비유동자산,매출총이익,법인세비용,이자비용,감가상각비,유동자산,유동부채,현금및현금성자산
0,(주)BNK금융지주,138930,2013/12,1.0,14400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2013/12,2.0,15650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/12,3.0,15300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2013/12,4.0,14500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2013/12,5.0,15700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,효성티앤씨(주),298020,2022/12,8.0,313500.0,4.319879e+09,2.804356e+09,19183248.0,293383061.0,8.882730e+09,2.176811e+09,432144813.0,11475356.0,0.0,14803000.0,2.143068e+09,2.184964e+09,103107215.0
20813,효성티앤씨(주),298020,2022/12,9.0,259000.0,4.319879e+09,2.804356e+09,19183248.0,293383061.0,8.882730e+09,2.176811e+09,432144813.0,11475356.0,0.0,14803000.0,2.143068e+09,2.184964e+09,103107215.0
20814,효성티앤씨(주),298020,2022/12,10.0,261500.0,4.319879e+09,2.804356e+09,19183248.0,293383061.0,8.882730e+09,2.176811e+09,432144813.0,11475356.0,0.0,14803000.0,2.143068e+09,2.184964e+09,103107215.0
20815,효성티앤씨(주),298020,2022/12,11.0,357000.0,4.319879e+09,2.804356e+09,19183248.0,293383061.0,8.882730e+09,2.176811e+09,432144813.0,11475356.0,0.0,14803000.0,2.143068e+09,2.184964e+09,103107215.0
20816,효성티앤씨(주),298020,2022/12,12.0,350000.0,4.319879e+09,2.804356e+09,19183248.0,293383061.0,8.882730e+09,2.176811e+09,432144813.0,11475356.0,0.0,14803000.0,2.143068e+09,2.184964e+09,103107215.0

In [29]:
kospi2

,회사명,거래소코드,회계년도,거래월,종가,자산,부채,당기순이익,현금흐름,매출액,비유동자산,매출총이익,법인세비용,이자비용,감가상각비,유동자산,유동부채,현금및현금성자산
0,(주)BNK금융지주,138930,2013/12,1.0,14400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2013/12,2.0,15650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/12,3.0,15300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2013/12,4.0,14500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2013/12,5.0,15700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,효성티앤씨(주),298020,2022/12,8.0,313500.0,1.677616e+09,845718444.0,289706110.0,242349506.0,5.364506e+09,980299712.0,341418118.0,13909844.0,0.0,7350000.0,697316638.0,731859855.0,4956563.0
20813,효성티앤씨(주),298020,2022/12,9.0,259000.0,1.677616e+09,845718444.0,289706110.0,242349506.0,5.364506e+09,980299712.0,341418118.0,13909844.0,0.0,7350000.0,697316638.0,731859855.0,4956563.0
20814,효성티앤씨(주),298020,2022/12,10.0,261500.0,1.677616e+09,845718444.0,289706110.0,242349506.0,5.364506e+09,980299712.0,341418118.0,13909844.0,0.0,7350000.0,697316638.0,731859855.0,4956563.0
20815,효성티앤씨(주),298020,2022/12,11.0,357000.0,1.677616e+09,845718444.0,289706110.0,242349506.0,5.364506e+09,980299712.0,341418118.0,13909844.0,0.0,7350000.0,697316638.0,731859855.0,4956563.0
20816,효성티앤씨(주),298020,2022/12,12.0,350000.0,1.677616e+09,845718444.0,289706110.0,242349506.0,5.364506e+09,980299712.0,341418118.0,13909844.0,0.0,7350000.0,697316638.0,731859855.0,4956563.0

In [30]:
kospi1.isnull().sum()

회사명            0
거래소코드          0
회계년도           0
거래월          122
종가           122
자산          2888
부채          2888
당기순이익       2888
현금흐름        2888
매출액         2888
비유동자산       2888
매출총이익       2888
법인세비용       2888
이자비용        2888
감가상각비       2888
유동자산        2888
유동부채        2888
현금및현금성자산    2888
dtype: int64

In [31]:
kospi2.isnull().sum()

회사명            0
거래소코드          0
회계년도           0
거래월          122
종가           122
자산          2365
부채          2365
당기순이익       2365
현금흐름        2365
매출액         2365
비유동자산       2365
매출총이익       2365
법인세비용       2365
이자비용        2365
감가상각비       2365
유동자산        2365
유동부채        2365
현금및현금성자산    2365
dtype: int64

In [32]:
kospi = kospi1.fillna(kospi2)

In [33]:
kospi.isnull().sum()

회사명            0
거래소코드          0
회계년도           0
거래월          122
종가           122
자산          2365
부채          2365
당기순이익       2365
현금흐름        2365
매출액         2365
비유동자산       2365
매출총이익       2365
법인세비용       2365
이자비용        2365
감가상각비       2365
유동자산        2365
유동부채        2365
현금및현금성자산    2365
dtype: int64