1. 데이터 전처리
    - 데이터 로드 (데이터 타입 및 분포 확인)
    - 결측치 확인 (대체 및 제거)
    - 불필요 컬럼 삭제
    - 원핫인코딩
    - 더미화
    - Train Test Split (7:3)
2. Modeling
    - LogisticRegression
    - SVC
    - DecisionTree
    - RandomForest
    - XGB
    - LGBM
3. 평가지표
    - Accuracy
    - Precision
    - Recall
    - F1_score
4. 하이퍼 파라미터

---
# 1. 데이터 전처리

In [242]:
# 라이브러리 로드
import pandas as pd

# 경고창 제거
import warnings
warnings.filterwarnings('ignore')

## 1-1 data load
 - 타이타닉.csv 파일을 로드합니다.

In [243]:
# 타이타닉 데이터 로드
df = pd.read_csv("./타이타닉.csv", index_col = 0)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### Unnamed: 0  지우기
1. csv저장 전 df.to_csv('./파일명.csv', index = False)
2. csv저장 후 pd.read_csv('./파일명.csv', index_col = 0)

In [244]:
# 데이터 로드 (Unnamed: 0 컬럼 제거)

피쳐
- Survived : 생존여부
- Pclass : 승객등급
- Name : 이름
- Sex : 성별
- Age : 나이
- SibSp : 동승한 형제 또는 배우자 수
- Parch : 동승한 부모 또는 자녀 수
- Ticket : 티켓의 고유 번호
- Fare : 승객 지불 요금
- Cabin : 객실 번호
- Embarked :  승선항 (C = 쉘 부르크, Q = 퀸즈타운, S = 사우스햄튼)

In [245]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [246]:
# 데이터 분포 확인
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## 1-2 결측치 확인 (대체 및 제거)
 - Age -> Age 평균값으로 대체합니다.
 - Embarked -> 결측치가 있는 행 제거합니다.
 - Cabin -> 컬럼 제거합니다.

### Age

In [247]:
# 결측치 확인
df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [248]:
# Age 평균값 확인
df['Age'].mean()

29.69911764705882

In [249]:
# 결측치 평균값으로 채우는 코드
df['Age'].fillna(df['Age'].mean(), inplace=True)
# 결측치 잘 채워졌는지 다시 확인
df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

### Embarked

In [250]:
df['Survived'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64>

In [251]:
# Embarked 결측치가 있는 데이터 확인
df.loc[df['Embarked'].isna(),]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [252]:
df[df['Embarked'].isna()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [253]:
# Embarked 결측치가 있는 데이터 제거 후 데이터프레임 추출
df = df[~df['Embarked'].isna()]
# df.drop(columns=['Embarked'], ignore?)
# df.dropna(subset= 'Embarked, inplace=True)

In [254]:
# 인덱스 초기화
df.reset_index(drop=True, inplace=True)

## 1-3 불필요 컬럼 삭제
 - Name
 - Ticket
 - Cabin
 * 3개의 컬럼을 제거합니다.

In [255]:
# Name, Ticket, Cabin 컬럼 제거
df.drop(columns=['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [256]:
# 최종 결측치 확인
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

## 1-4 원핫인코딩
 - Sex 컬럼 ->  male : 0 female : 1 로 변경합니다.

In [257]:
# 원핫인코딩 코드
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [258]:
df

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    0  22.000000      1      0   7.2500        S
1           1       1    1  38.000000      1      0  71.2833        C
2           1       3    1  26.000000      0      0   7.9250        S
3           1       1    1  35.000000      1      0  53.1000        S
4           0       3    0  35.000000      0      0   8.0500        S
..        ...     ...  ...        ...    ...    ...      ...      ...
884         0       2    0  27.000000      0      0  13.0000        S
885         1       1    1  19.000000      0      0  30.0000        S
886         0       3    1  29.699118      1      2  23.4500        S
887         1       1    0  26.000000      0      0  30.0000        C
888         0       3    0  32.000000      0      0   7.7500        Q

[889 rows x 8 columns]

# 1-5 더미화
 - Embarked 컬럼을 더미변수(범주형 변수를 연속형 변수로 변경)로 변경합니다.

In [259]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [260]:
# get_dummies() 함수를 사용하여 'Embarked' 열을 더미 변수로 변환
df_encoded = pd.get_dummies(df['Embarked'], prefix='Embarked').astype(int)
# 원본 데이터프레임과 더미 변수 데이터프레임을 합침
df_merged = pd.concat([df, df_encoded], axis=1)
# Embarked 컬럼 제거
df_merged.drop(columns=['Embarked'], inplace=True)

In [261]:
df_merged

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.000000,1,0,7.2500,0,0,1
1,1,1,1,38.000000,1,0,71.2833,1,0,0
2,1,3,1,26.000000,0,0,7.9250,0,0,1
3,1,1,1,35.000000,1,0,53.1000,0,0,1
4,0,3,0,35.000000,0,0,8.0500,0,0,1
...,...,...,...,...,...,...,...,...,...,...
884,0,2,0,27.000000,0,0,13.0000,0,0,1
885,1,1,1,19.000000,0,0,30.0000,0,0,1
886,0,3,1,29.699118,1,2,23.4500,0,0,1
887,1,1,0,26.000000,0,0,30.0000,1,0,0
888,0,3,0,32.000000,0,0,7.7500,0,1,0

# train_test_split 진행
- x, y 값을 지정하고 7:3으로 진행합니다. 
    * Train Data / Test Data 1,0 비율은 동등하게 나눕니다.
- y : Survived

In [262]:
# 원래 test 파일 따로 써야하지만 test파일이 존재하지 않으니 해당 파일을 train_test_split 해줍니다.
from sklearn.model_selection import train_test_split
X = df_merged.drop('Survived', axis=1)
y = df_merged['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 1, stratify = y) # stratify = y : y에 1,0 비율이 train과 test에 y값의 비율이 똑같이 들어감
y_train.value_counts()

Survived
0    384
1    238
Name: count, dtype: int64

# Modeling

## LR

- 기본 LR
- fit / predict 진행합니다.

In [263]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

y_pred

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0])

- 모델성능평가 : confusion matrix를 print해봅니다.

In [264]:
# 모델 성능평가
from sklearn.metrics import confusion_matrix

confusion_mat = confusion_matrix(y_test, y_pred)
confusion_mat

array([[139,  26],
       [ 27,  75]])

- 모델성능평가2 : precision_score, recall_score, accuracy_score, f1_score를 프린트해봅니다.

In [265]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

In [266]:
precision

0.7425742574257426

In [267]:
recall

0.7352941176470589

In [268]:
accuracy

0.8014981273408239

In [269]:
f1

0.7389162561576355

## DT

- 기본 DT
- fit, predict
- confusion matrix
- precision_score, recall_score, accuracy_score, f1_score

In [270]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred = dt.predict(X_test)

confusion_mat = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

## SVM (SVC)

- 기본 SVC
- fit, predict
- confusion matrix
- precision_score, recall_score, accuracy_score, f1_score

In [271]:
from sklearn.svm import SVC

svc = SVC()

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

confusion_mat = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

## RF

- 기본 RF
- fit, predict
- confusion matrix
- precision_score, recall_score, accuracy_score, f1_score

In [272]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

confusion_mat = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

## XGB

- 기본 XGB
- fit, predict
- confusion matrix
- precision_score, recall_score, accuracy_score, f1_score

In [273]:
# !pip3 install lightgbm
# !pip3 install xgboost

In [274]:
from xgboost import XGBClassifier

xg = RandomForestClassifier()

xg.fit(X_train, y_train)

y_pred = xg.predict(X_test)

confusion_mat = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

## LGBM

- 기본 LGBM
- fit, predict
- confusion matrix
- precision_score, recall_score, accuracy_score, f1_score

In [275]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier()

lgbm.fit(X_train, y_train)

y_pred = lgbm.predict(X_test)

confusion_mat = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

OSError: dlopen(/Users/noseohyeong/Library/Python/3.9/lib/python/site-packages/lightgbm/lib_lightgbm.so, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: <D21A7969-4567-3BC7-94ED-6A9E83AE9D78> /Users/noseohyeong/Library/Python/3.9/lib/python/site-packages/lightgbm/lib_lightgbm.so
  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file, not in dyld cache)

# 기본 Modeling 함수

In [281]:
def model_basic(X_train, y_train, X_test, y_test):
    models = [
        LogisticRegression(),
        DecisionTreeClassifier(),
        SVC(),
        RandomForestClassifier(),
        XGBClassifier()
    ]

    rdict={'model':[],'accuracy':[],'precision':[],'recall':[],'f1_score':[]}

    for clf in models:
        clf = clf.fit(X_train, y_train)
        pred = clf.predict(X_test)
        results = (round(accuracy_score(y_test, pred),2),
                   round(precision_score(y_test, pred),2),
                   round(recall_score(y_test, pred),2),
                   round(f1_score(y_test, pred),2)
                   )

        rdict['model'].append(clf)
        rdict['accuracy'].append(results[0])
        rdict['precision'].append(results[1])
        rdict['recall'].append(results[2])
        rdict['f1_score'].append(results[3])
    rdf = pd.DataFrame(data=rdict)
    return rdf

In [283]:
model_basic(X_train, y_train, X_test, y_test)

,model,accuracy,precision,recall,f1_score
0,LogisticRegression(),0.80,0.74,0.74,0.74
1,DecisionTreeClassifier(),0.81,0.77,0.70,0.73
2,SVC(),0.69,0.72,0.32,0.45
3,"(DecisionTreeClassifier(max_features='sqrt', r...",0.82,0.79,0.74,0.76
4,"XGBClassifier(base_score=None, booster=None, c...",0.83,0.79,0.75,0.77

# 파라미터 조정

## LR

**sklearn.linear_model.LogisticRegression**
- class sklearn.linear_model.LogisticRegression(penalty='l2', *, dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='lbfgs', max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)
> https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

- penalty = 
- C = 
- l1_ratio =

In [ ]:
from sklearn.linear_model import LogisticRegression

[[160   5]
 [ 72  30]]
Accuracy : 0.712
Precision : 0.857
Recall : 0.294
F1 : 0.438

## DT

**sklearn.tree.DecisionTreeClassifier**
- class sklearn.tree.DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
> https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

- criterion = 
- max_depth = 
- min_samples_split = 
- min_samples_leaf =

In [ ]:
from sklearn.tree import DecisionTreeClassifier

[[145  20]
 [ 32  70]]
Accuracy : 0.805
Precision : 0.778
Recall : 0.686
F1 : 0.729

## SVC

**sklearn.svm.SVC**
- class sklearn.svm.SVC(*, C=1.0, kernel='rbf', degree=3, gamma='scale', coef0=0.0, shrinking=True, probability=False, tol=0.001, cache_size=200, class_weight=None, verbose=False, max_iter=-1, decision_function_shape='ovr', break_ties=False, random_state=None)
> https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC

- C = 
- kernel =

In [ ]:
from sklearn.svm import SVC

[[143  22]
 [ 32  70]]
Accuracy : 0.798
Precision : 0.761
Recall : 0.686
F1 : 0.722

## RF

**sklearn.ensemble.RandomForestClassifier**
- class sklearn.ensemble.RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)
> https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier

- n_estimators = 
- criterion = 
- max_depth = 
- min_samples_leaf =  
- max_features = 
- min_samples_split =

In [ ]:
from sklearn.ensemble import RandomForestClassifier

[[147  18]
 [ 28  74]]
Accuracy : 0.828
Precision : 0.804
Recall : 0.725
F1 : 0.763

## XGBoost

**from xgboost import XGBClassifier**
- 링크확인
> https://xgboost.readthedocs.io/en/stable/parameter.html

- n_estimators[default=100] = 
- learning_rate = 
- max_depth[default=6] = 
- min_child_weight[default = 1] =
- gamma[default=0] =

In [ ]:
from xgboost import XGBClassifier

[[154  11]
 [ 38  64]]
Accuracy : 0.816
Precision : 0.853
Recall : 0.627
F1 : 0.723

## LGBM

**lightgbm.LGBMClassifier**
- classlightgbm.LGBMClassifier(boosting_type='gbdt', num_leaves=31, max_depth=-1, learning_rate=0.1, n_estimators=100, subsample_for_bin=200000, objective=None, class_weight=None, min_split_gain=0.0, min_child_weight=0.001, min_child_samples=20, subsample=1.0, subsample_freq=0, colsample_bytree=1.0, reg_alpha=0.0, reg_lambda=0.0, random_state=None, n_jobs=None, importance_type='split', **kwargs)
> https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html

- max_depth = 
- learning_rate = 
- n_estimators =

In [ ]:
from lightgbm import LGBMClassifier

[[142  23]
 [ 27  75]]
Accuracy : 0.813
Precision : 0.765
Recall : 0.735
F1 : 0.750